In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
#ODI best team URL
source = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

In [3]:
page = requests.get(source)

In [4]:
page

In [5]:
htmlContent= page.content

In [32]:
#htmlContent

In [7]:
soup= BeautifulSoup(htmlContent,'html.parser')

In [33]:
#print(soup.prettify())

In [34]:
# name of ODI best team rank wise
team = soup.find_all('span', class_='u-hide-phablet')

In [10]:
#fetching name for first 10 best team
ODI_team = []
for i in range(0,10):
    ODI_team.append(team[i].get_text().replace("\n",""))
ODI_team

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [11]:
#number of matches played by team 1
team1_matches = soup.find('td', class_='rankings-block__banner--matches').text
team1_matches

'17'

In [12]:
#number of points by team 1
team1_points = soup.find('td', class_='rankings-block__banner--points').text
team1_points

'2,054'

In [13]:
#rating od the team 1
team1_rating = soup.find('td', class_='rankings-block__banner--rating u-text-right').text.replace('\n'," ").strip(' ')
team1_rating

'121'

In [35]:
#fetching other details about ODI best team
aditional_info = soup.find_all('td', class_='table-body__cell u-center-text')

In [15]:
#number of mkatches played by rest of the team
ODI_match = []
for i in range(0,18,2):
    ODI_match.append(aditional_info[i].get_text().replace("\n",""))
ODI_match

['32', '28', '32', '25', '27', '30', '30', '32', '17']

In [16]:
#inserting number of matches played by team 1 into ODI_match
ODI_match.insert(0, "17")
ODI_match

['17', '32', '28', '32', '25', '27', '30', '30', '32', '17']

In [17]:
#number of points by rest of the team
ODI_points = []
for i in range(1,18,2):
    ODI_points.append(aditional_info[i].get_text().replace("\n",""))
ODI_points

['3,793',
 '3,244',
 '3,624',
 '2,459',
 '2,524',
 '2,740',
 '2,523',
 '2,657',
 '1,054']

In [18]:
#inserting number of points made by team1 into ODI_points
ODI_points.insert(0, "2,054")
ODI_points

['2,054',
 '3,793',
 '3,244',
 '3,624',
 '2,459',
 '2,524',
 '2,740',
 '2,523',
 '2,657',
 '1,054']

In [36]:
# ratings for the rest of the team
rating = soup.find_all('td', class_='table-body__cell u-text-right rating')

In [27]:
ODI_rating = []
for i in range(0,9):
    ODI_rating.append(rating[i].get_text().replace("\n",""))
ODI_rating

['119', '116', '113', '98', '93', '91', '84', '83', '62']

In [28]:
#inserting rating of team 1 into ODI_rating
ODI_rating.insert(0, "121")
ODI_rating

['121', '119', '116', '113', '98', '93', '91', '84', '83', '62']

In [29]:
#creating dataframe
data = list(zip(ODI_team,ODI_match,ODI_points,ODI_rating))

In [30]:
import pandas as pd
df = pd.DataFrame(data,columns=['ODI_team','ODI_match','ODI_points','ODI_rating'])

In [31]:
df.head(10)

       ODI_team ODI_match ODI_points ODI_rating
0   New Zealand        17      2,054        121
1       England        32      3,793        119
2     Australia        28      3,244        116
3         India        32      3,624        113
4  South Africa        25      2,459         98
5      Pakistan        27      2,524         93
6    Bangladesh        30      2,740         91
7   West Indies        30      2,523         84
8     Sri Lanka        32      2,657         83
9   Afghanistan        17      1,054         62