In [15]:
# Q.1

#downloading important libraries
import selenium

from selenium import webdriver
PATH = 'C:\Program Files\TeamViewer\chromedriver.exe' #extracting path of the webdriver
driver = webdriver.Chrome(PATH)

from selenium.webdriver.common.keys import Keys

<ipython-input-15-96c1293fdd0e>:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

In [25]:
#fetching url of naukri
driver.get('https://www.naukri.com/')

In [26]:
#giving input for job title as Data Analyst
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')
#giving input for job location as Bangalore
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')
#code to click on search button
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

<ipython-input-26-0eaa9b1fbc5f>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id('qsb-keyword-sugg')
<ipython-input-26-0eaa9b1fbc5f>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc = driver.find_element_by_id('qsb-location-sugg')
<ipython-input-26-0eaa9b1fbc5f>:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//button[@class='btn']")

In [7]:
#fetching job title for top 10 data
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title=[]
for i in title[0:10]:
    job_title.append(i.text)

<ipython-input-7-bf70bf4bc80e>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [8]:
job_title

['Business Data Analyst - MIS & Reporting',
 'Business Data Analyst - Database Design/Mining',
 'Senior Data Analyst - SQL/Tableau/Redshift',
 'Sr Business Data Analyst',
 'Lead Data Analyst - Claim Analytics',
 'Lead Data Analyst - Claim Analytics',
 'ID&A - Data Analyst - Informatica MDM',
 'Data Analyst',
 'Data Analyst',
 'Hiring For Clinical Data Analyst - Bangalore / Chennai / Homebased']

In [9]:
# job-location, company_name, experience_required
#fetching job-location for top 10 data
location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
job_location=[]
for i in location[0:10]:
    job_location.append(i.text)

<ipython-input-9-468641f97398>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [10]:
job_location

['Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Mumbai, Indore, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru, Mumbai (All Areas)']

In [11]:
company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name =[]
for i in company[0:10]:
    company_name.append(i.text)

<ipython-input-11-7970ac025e32>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [12]:
company_name

['INTERTRUST GROUP',
 'AugmatrixGo',
 'Pronto Consulting Services',
 'ExecBoardinAsia',
 'InnovAccer',
 'InnovAccer',
 'Shell',
 'Capgemini',
 'Snaphunt',
 'ICON plc (Formerly PRA Health Sciences)']

In [13]:
experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_required = []
for i in experience[0:10]:
    experience_required.append(i.text)

<ipython-input-13-c8e25ae26aef>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [14]:
experience_required

['3-8 Yrs',
 '2-5 Yrs',
 '6-10 Yrs',
 '5-10 Yrs',
 '7-12 Yrs',
 '7-12 Yrs',
 '5-9 Yrs',
 '2-5 Yrs',
 '0-2 Yrs',
 '1-6 Yrs']

In [1]:
import pandas as pd

In [19]:
data=list(zip(job_title,job_location,company_name,experience_required))

In [20]:
df = pd.DataFrame(data,columns=['job_title','job_location','company_name','experience_required'])

In [21]:
df

,job_title,job_location,company_name,experience_required
0,Business Data Analyst - MIS & Reporting,"Mumbai, Bangalore/Bengaluru",INTERTRUST GROUP,3-8 Yrs
1,Business Data Analyst - Database Design/Mining,Bangalore/Bengaluru,AugmatrixGo,2-5 Yrs
2,Senior Data Analyst - SQL/Tableau/Redshift,"Noida, Mumbai, Indore, Hyderabad/Secunderabad,...",Pronto Consulting Services,6-10 Yrs
3,Sr Business Data Analyst,Bangalore/Bengaluru,ExecBoardinAsia,5-10 Yrs
4,Lead Data Analyst - Claim Analytics,"Noida, Bangalore/Bengaluru",InnovAccer,7-12 Yrs
5,Lead Data Analyst - Claim Analytics,"Noida, Bangalore/Bengaluru",InnovAccer,7-12 Yrs
6,ID&A - Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell,5-9 Yrs
7,Data Analyst,Bangalore/Bengaluru,Capgemini,2-5 Yrs
8,Data Analyst,Bangalore/Bengaluru,Snaphunt,0-2 Yrs
9,Hiring For Clinical Data Analyst - Bangalore /...,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",ICON plc (Formerly PRA Health Sciences),1-6 Yrs

In [14]:
# Q.2
driver.get('https://www.naukri.com/')

In [15]:
# giving input for job title as Data scientist
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

<ipython-input-15-ae79bb9f747e>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id('qsb-keyword-sugg')

In [16]:
# giving input for job location as Bangalore
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

<ipython-input-16-be6251dd96a5>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc = driver.find_element_by_id('qsb-location-sugg')

In [17]:
# code to click on search button
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

<ipython-input-17-d9cb70721bf8>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//button[@class='btn']")

In [18]:
# fetching job title for top 10 data
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title = []
for i in title[0:10]:
    job_title.append(i.text)

<ipython-input-18-c1b24b9a6849>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [19]:
job_title

['Data Scientist',
 'Data Scientist',
 'Senior Data Scientist | Fortune 500 Supermarket Chain',
 'Senior Data Scientist',
 'Data Scientist',
 'Hiring For AI Architect / Lead Data Scientist - Bangalore -Iqvia',
 'Senior Data Scientist',
 'Senior / Lead Data Scientist',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist']

In [20]:
#fetching job location for top 10 data
location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
job_location = []
for i in location[0:10]:
    job_location.append(i.text)

<ipython-input-20-9177045d1ba0>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [21]:
job_location

['Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru']

In [22]:
company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name = []
for i in company[0:10]:
    company_name.append(i.text)

<ipython-input-22-15276d6296b8>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [23]:
company_name

['Amazon',
 'Alstom Transport India Ltd.',
 'TALENT500 TECH (INDIA) PRIVATE LIMITED',
 'Santechture',
 'Evalueserve',
 'IQVIA RDS India Pvt Ltd',
 'Easy Recruit',
 'Bukuwarung',
 'Wrackle Technologies Pvt Ltd',
 'SG Analytics Pvt. Ltd.']

In [24]:
data = list(zip(job_title,job_location,company_name))

In [25]:
df = pd.DataFrame(data,columns=['job_title','job_location','company_name'])

In [26]:
df

,job_title,job_location,company_name
0,Data Scientist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Amazon
1,Data Scientist,Bangalore/Bengaluru,Alstom Transport India Ltd.
2,Senior Data Scientist | Fortune 500 Supermarke...,Bangalore/Bengaluru,TALENT500 TECH (INDIA) PRIVATE LIMITED
3,Senior Data Scientist,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Santechture
4,Data Scientist,Bangalore/Bengaluru\n(WFH during Covid),Evalueserve
5,Hiring For AI Architect / Lead Data Scientist ...,Bangalore/Bengaluru,IQVIA RDS India Pvt Ltd
6,Senior Data Scientist,Bangalore/Bengaluru,Easy Recruit
7,Senior / Lead Data Scientist,Bangalore/Bengaluru,Bukuwarung
8,Lead Data Scientist - Machine Learning/ Data M...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd
9,Data Scientist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",SG Analytics Pvt. Ltd.

In [27]:
# Q.3
driver.get('https://www.naukri.com/')

In [28]:
# giving input for job title as Data scientist
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

<ipython-input-28-ae79bb9f747e>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id('qsb-keyword-sugg')

In [29]:
 # giving input for job location as Bangalore
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Delhi')

<ipython-input-29-0092e6bdd995>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc = driver.find_element_by_id('qsb-location-sugg')

In [30]:
# code to click on search button
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

<ipython-input-30-d9cb70721bf8>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//button[@class='btn']")

In [31]:
# fetching job title for top 10 data
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title = []
for i in title[0:10]:
    job_title.append(i.text)

<ipython-input-31-c1b24b9a6849>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [32]:
job_title

['Associate Data Scientist',
 'Data Scientist',
 'Co-Founder - Principal Data Scientist/Senior Data Scientist',
 'Data Scientist- Predictive Modelling',
 'Data Scientist: ML and NLP Expert',
 'Lead Data Scientist',
 'Data Scientist - Analytics & Insights Team - Food Services Firm - IIT/',
 'Data Scientist',
 'Data Scientist, Energy modelling',
 'Data Scientist: Advanced Analytics']

In [33]:
#fetching job location for top 10 data
location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
job_location = []
for i in location[0:10]:
    job_location.append(i.text)

<ipython-input-33-9177045d1ba0>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [34]:
job_location

['Gurgaon/Gurugram',
 'Kochi/Cochin, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Noida, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Faridabad, Bangalore/Bengaluru',
 'Noida',
 'Gurgaon/Gurugram, Gurgaon',
 'Remote',
 'Delhi']

In [35]:
company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name = []
for i in company[0:10]:
    company_name.append(i.text)

<ipython-input-35-15276d6296b8>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [36]:
company_name

['leading global company',
 'Think i',
 'Benovymed Healthcare Private Limited',
 'Emmess technologies private Limited',
 'Evalueserve',
 'Freshworks',
 'HyrEzy Talent Solutions',
 'Webhelp',
 'CEPA',
 'IBM India Pvt. Limited']

In [37]:
experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_required = []
for i in experience[0:10]:
    experience_required.append(i.text)

<ipython-input-37-c8e25ae26aef>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [38]:
experience_required

['2-4 Yrs',
 '0-2 Yrs',
 '2-7 Yrs',
 '3-8 Yrs',
 '2-4 Yrs',
 '5-9 Yrs',
 '3-6 Yrs',
 '0-0 Yrs',
 '0-5 Yrs',
 '5-7 Yrs']

In [40]:
salary = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']")
#salary = driver.find_elements_by_xpath("//span[@class='fleft ml-5']")

Salary=[]
for i in salary[0:10]:
    Salary.append(i.text)

<ipython-input-40-ee0e463a00dd>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  salary = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']")

In [41]:
Salary

['5,00,000 - 5,50,000 PA.',
 '5,00,000 - 10,00,000 PA.',
 '5,00,000 - 10,00,000 PA.',
 '3,00,000 - 8,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [42]:
data = list(zip(job_title,job_location,company_name,experience_required,Salary))

In [43]:
df = pd.DataFrame(data,columns=['job_title','job_location','company_name','experience_required','Salary'])

In [44]:
df

,job_title,job_location,company_name,experience_required,Salary
0,Associate Data Scientist,Gurgaon/Gurugram,leading global company,2-4 Yrs,"5,00,000 - 5,50,000 PA."
1,Data Scientist,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,...",Think i,0-2 Yrs,"5,00,000 - 10,00,000 PA."
2,Co-Founder - Principal Data Scientist/Senior D...,"Gurgaon/Gurugram, Delhi / NCR",Benovymed Healthcare Private Limited,2-7 Yrs,"5,00,000 - 10,00,000 PA."
3,Data Scientist- Predictive Modelling,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru, ...",Emmess technologies private Limited,3-8 Yrs,"3,00,000 - 8,00,000 PA."
4,Data Scientist: ML and NLP Expert,"Noida, Hyderabad/Secunderabad, Gurgaon/Gurugra...",Evalueserve,2-4 Yrs,Not disclosed
5,Lead Data Scientist,"Faridabad, Bangalore/Bengaluru",Freshworks,5-9 Yrs,Not disclosed
6,Data Scientist - Analytics & Insights Team - F...,Noida,HyrEzy Talent Solutions,3-6 Yrs,Not disclosed
7,Data Scientist,"Gurgaon/Gurugram, Gurgaon",Webhelp,0-0 Yrs,Not disclosed
8,"Data Scientist, Energy modelling",Remote,CEPA,0-5 Yrs,Not disclosed
9,Data Scientist: Advanced Analytics,Delhi,IBM India Pvt. Limited,5-7 Yrs,Not disclosed

In [101]:
# Q.4

In [31]:
driver.get('https://www.flipkart.com/')

In [38]:
brand=[]

In [39]:
start=0

end=3

for page in range(start,end):#for loop for scrapping 4 page

    brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'

    for i in brands:

        brand.append(i.text)

    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page

    try:

        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page

    except:

        driver.get(nxt_button[0].get_attribute('href'))

<ipython-input-39-5ce92c2a6d69>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
<ipython-input-39-5ce92c2a6d69>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page

In [40]:
brand

['ROZZETTA CRAFT',
 'VINCENT CHASE',
 'Fastrack',
 'PIRASO',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'kingsunglasses',
 'VINCENT CHASE',
 'New Specs',
 'PHENOMENAL',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'New Specs',
 'ROZZETTA CRAFT',
 'GANSTA',
 'elegante',
 'kingsunglasses',
 'SHAAH COLLECTIONS',
 'HIPPON',
 'VINCENT CHASE',
 'Rich Club',
 'Elligator',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'hipe',
 'SHAAH COLLECTIONS',
 'Elligator',
 'VILLAIN',
 'PIRASO',
 'kingsunglasses',
 'Silver Kartz',
 'Fravy',
 'Lee Topper',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'kingsunglasses',
 'kingsunglasses',
 'PIRASO',
 'VINCENT CHASE',
 'povty',
 'ROYAL SON',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'GANSTA',
 'New Specs',
 'PHENOMENAL',
 'VINCENT CHASE',
 'GANSTA',
 'kingsunglasses',
 'GANSTA',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'VINCENT CHASE',
 'PHENOMENAL',
 'PIRASO',
 'kingsunglasses',
 'elegante',
 'elegante',
 'MAXX',
 'Elligator',
 'VINCENT CHASE',
 'Silver Kartz',
 'SUNBEE',
 'kingsunglasses',
 'VINCENT CHASE',
 'kingsunglasses',
 'Singco India',
 'Rich Club',
 'ROZZETTA CRAFT',
 'Elligator',
 'DEIXELS',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'PIRASO',
 'hipe',
 'VINCENT CHASE',
 'PIRASO',
 'Lee Topper',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'Ray-Ban',
 'GANSTA',
 'VINCENT CHASE',
 'PETER JONES',
 'DEIXELS',
 'PHENOMENAL',
 'VINCENT CHASE',
 'PHENOMENAL',
 'Rich Club',
 'PHENOMENAL',
 'VINCENT CHASE',
 'Singco',
 'NuVew',
 'elegante',
 'elegante',
 'Elligator',
 'Fastrack',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Elligator',
 'ROYAL SON',
 'Fastrack',
 'VINCENT CHASE',
 'Rich Club',
 'elegante',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'ROYAL SON',
 'Fastrack',
 'VINCENT CHASE',
 'ROYAL SON',
 'Elligator',
 'NuVew',
 'hipe']

In [44]:
product_description =[]

In [45]:
start=0

end=3

for page in range(start,end):#for loop for scrapping 4 page

    products=driver.find_elements_by_class_name('IRpwTa')#scraping brands name by class name='_2WkVRV'

    for i in products:

        product_description.append(i.text)

    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page

    try:

        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page

    except:

        driver.get(nxt_button[0].get_attribute('href'))

<ipython-input-45-50d0b7404b71>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  products=driver.find_elements_by_class_name('IRpwTa')#scraping brands name by class name='_2WkVRV'
<ipython-input-45-50d0b7404b71>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page

In [46]:
product_description

['UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection Over-sized Sunglasses (60)',
 'Polarized Retro Square Sunglasses (58)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection, Mirrored Aviator Sunglasses (...',
 'UV Protection, Gradient, Mirrored Shield Sunglasses (54...',
 'UV Protection Aviator Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Round Sunglasses (49)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer Sunglasses (Free Size...',
 'UV Protection Wayfarer Sunglasses (54)',
 'Gradient Wayfarer Sunglasses (50)',
 'UV Protection, Gradient Cat-eye Sunglasses (68)',
 'Polarized, UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Wayfarer, Rectangular Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (Free Size)',
 'Mirrored Retro Square Sunglasses (57)',
 'UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Wayfarer Sunglasses ...',
 'UV Protection Wayfarer Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection, Gradient Cat-eye Sunglasses (61)',
 'UV Protection Wayfarer Sunglasses (51)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (52)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer Sunglasses (57)',
 'UV Protection, Mirrored, Night Vision, Riding Glasses R...',
 'UV Protection Oval Sunglasses (58)',
 'by Lenskart UV Protection Rectangular Sunglasses (54)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Polarized Sports Sunglasses (68)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'UV Protection Retro Square Sunglasses (49)',
 'UV Protection Wayfarer Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (60)',
 'UV Protection Wayfarer, Rectangular Sunglasses (61)',
 'UV Protection Round Sunglasses (52)',
 'Night Vision, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Sports Sunglasses (65)',
 'UV Protection Cat-eye Sunglasses (57)',
 'Polarized Wayfarer Sunglasses (60)',
 'Mirrored, UV Protection Wayfarer Sunglasses (18)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Sports Sunglasses (Free Size)',
 'Polarized Over-sized Sunglasses (56)',
 'Gradient Oval Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (58)',
 'Polarized, UV Protection Over-sized Sunglasses (56)',
 'Riding Glasses, Others, UV Protection Wrap-around Sungl...',
 'UV Protection Round Sunglasses (50)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'Polarized Over-sized Sunglasses (56)',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'Polarized Aviator Sunglasses (Free Size)',
 'Wrap-around Sunglasses (61)',
 'UV Protection, Mirrored Aviator Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'Riding Glasses, UV Protection, Mirrored Sports Sunglass...',
 'by Lenskart UV Protection Wayfarer Sunglasses (49)',
 'UV Protection, Gradient Cat-eye, Wayfarer Sunglasses (6...',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Wayfarer, Round Sunglasses (63)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses, Polarized ...',
 'UV Protection Retro Square Sunglasses (47)',
 'UV Protection Aviator Sunglasses (53)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection Wayfarer Sunglasses (57)',
 'Polarized, Mirrored Round Sunglasses (49)',
 'Polarized, UV Protection Wayfarer Sunglasses (Free Size...',
 'Mirrored, UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Sports Sunglasses (Free Size)',
 'Polarized Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Wayfarer Sunglasses (57)',
 'UV Protection, Riding Glasses Aviator Sunglasses (58)',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Gradient Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Gradient Over-sized Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Others Retro Square Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Cat-eye Sunglasses (57)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Mirrored Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (59)',
 'Polarized, UV Protection Wayfarer Sunglasses (57)']

In [47]:
price=[]

In [48]:
start=0

end=3

for page in range(start,end):#for loop for scrapping 4 page

    prices=driver.find_elements_by_class_name('_3bPFwb')#scraping brands name by class name='_2WkVRV'

    for i in prices:

        price.append(i.text)

    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page

    try:

        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page

    except:

        driver.get(nxt_button[0].get_attribute('href'))

<ipython-input-48-ad4fde94eee8>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prices=driver.find_elements_by_class_name('_3bPFwb')#scraping brands name by class name='_2WkVRV'
<ipython-input-48-ad4fde94eee8>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page

In [49]:
price

['6641,99966% off',
 '1,0102,99966% off',
 '2,250',
 '3361,99983% off',
 '3991,99980% off',
 '6991,99965% off',
 '8513,25073% off',
 '7991,99960% off',
 '5483,80085% off',
 '3591,49976% off',
 '3431,24572% off',
 '9991,99950% off',
 '2,1622,2995% off',
 '2191,29983% off',
 '1,1003,99972% off',
 '9991,99950% off',
 '2631,99586% off',
 '2391,99988% off',
 '3101,99984% off',
 '4491,99977% off',
 '4031,44572% off',
 '6,0217,49019% off',
 '4,7195,49014% off',
 '3591,49976% off',
 '1,2591,2993% off',
 '2591,49982% off',
 '1,3264,10067% off',
 '1,4151,99929% off',
 '69579913% off',
 '2551,19978% off',
 '9903,99975% off',
 '3251,99983% off',
 '9583,44972% off',
 '1,5354,10062% off',
 '1,1003,99972% off',
 '7991,99960% off',
 '2761,29978% off',
 '4671,49968% off',
 '17099982% off',
 '7991,99960% off',
 '1791,29986% off',
 '5991,99970% off',
 '2451,99987% off',
 '3361,99983% off',
 '6641,99966% off',
 '1,1643,70068% off',
 '2491,49983% off',
 '7991,99960% off',
 '4481,69573% off',
 '2581,29980% off',
 '1,5064,10063% off',
 '9991,99950% off',
 '68989923% off',
 '1,5914,10061% off',
 '1,1791,99941% off',
 '9991,99950% off',
 '2891,99985% off',
 '1,6214,10060% off',
 '30092567% off',
 '3591,49976% off',
 '38399961% off',
 '4992,55580% off',
 '1,1003,99972% off',
 '4491,99977% off',
 '8152,54968% off',
 '7591,99962% off',
 '5691,99971% off',
 '3251,99983% off',
 '4481,72574% off',
 '3951,70076% off',
 '3,0928,67064% off',
 '1,4151,99929% off',
 '8541,99957% off',
 '4,8515,39010% off',
 '1,0851,29916% off',
 '2871,89984% off',
 '1691,19985% off',
 '18469973% off',
 '1,0801,0991% off',
 '7991,99960% off',
 '6612,85076% off',
 '6641,99966% off',
 '4371,62573% off',
 '3361,99983% off',
 '8,4519,39010% off',
 '16199983% off',
 '6991,49953% off',
 '7991,99960% off',
 '7381,09932% off',
 '1,1354,25073% off',
 '3141,99984% off',
 '9991,99950% off',
 '1,7454,70062% off',
 '5741,52562% off',
 '1,5713,90059% off',
 '9991,99950% off',
 '1,2741,2991% off',
 '6641,99966% off',
 '2251,09979% off',
 '3591,49976% off',
 '3301,24573% off',
 '6641,99966% off',
 '1,4423,90063% off',
 '4491,99977% off',
 '5001,52567% off',
 '2761,69983% off',
 '3491,54977% off',
 '1,4151,99929% off',
 '1,2233,70066% off',
 '10,97112,19010% off',
 '8,6319,59010% off',
 '3251,99983% off',
 '2091,29583% off',
 '1,4344,10065% off',
 '6641,99966% off',
 '7991,99960% off',
 '2151,29983% off',
 '8242,99972% off',
 '3591,49976% off',
 '7991,99960% off']

In [50]:
print(len(brand),len(product_description),len(price))

120 120 120

In [51]:
data = list(zip(brand,product_description,price))

In [53]:
import pandas as pd

In [54]:
df = pd.DataFrame(data,columns=['brand','product_description','price'])

In [55]:
df.head(100)

,brand,product_description,price
0,ROZZETTA CRAFT,"UV Protection, Gradient Wayfarer Sunglasses (53)","6641,99966% off"
1,VINCENT CHASE,UV Protection Over-sized Sunglasses (60),"1,0102,99966% off"
2,Fastrack,Polarized Retro Square Sunglasses (58),"2,250"
3,PIRASO,"UV Protection, Gradient Round Sunglasses (Free...","3361,99983% off"
4,PIRASO,UV Protection Round Sunglasses (Free Size),"3991,99980% off"
...,...,...,...
95,VINCENT CHASE,"Polarized, UV Protection Wayfarer Sunglasses (57)","9991,99950% off"
96,Singco,"UV Protection, Riding Glasses Aviator Sunglass...","1,2741,2991% off"
97,NuVew,Mirrored Aviator Sunglasses (58),"6641,99966% off"
98,elegante,UV Protection Round Sunglasses (50),"2251,09979% off"
99,elegante,UV Protection Oval Sunglasses (Free Size),"3591,49976% off"

In [2]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

In [4]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART')

<ipython-input-4-0a42a6d352c8>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

In [17]:
from time import sleep

In [5]:
page_url = [] # a list containg url's of every page

url = driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")

for i in url:

    page_url.append(i.get_attribute('href'))

rating = []

review_short =[]

review_full =[]

for i in page_url[:10]:

    # open one browser window at a time and extract data

    driver.get(i)

    #time.sleep(10)

    try:

        rat = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']") # stores all web elements of ratings present on one page

        for j in rat:

            rating.append(j.text) # fetches text out of those web elements

    except:

        pass

C:\Users\Srishti Maan\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [6]:
rating

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '1',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '1',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5',
 '1',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '3']