#                                   WEB SCRAPPING

# QUESTION NUMBER 1

In [1]:
from urllib.request import urlopen

In [2]:
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')

In [3]:
from bs4 import BeautifulSoup
bs = BeautifulSoup(html,'html.parser')

In [4]:
titles = bs.find_all(['h1','h2','h3','h4','h5','h6'])

print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading" id="firstHeading">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 aria-label="" class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 aria-label="Change language variant" class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

# QUESTION NUMBER 2

In [5]:
#!pip install requests

In [6]:
#!pip install html5lib

In [7]:
#!pip install bs4

In [8]:
url = 'https://www.imdb.com/chart/top/'

In [9]:
import requests

In [10]:
r = requests.get(url)

In [11]:
htmlcontent = r.content

In [12]:
from bs4 import BeautifulSoup
bs = BeautifulSoup(htmlcontent,'html.parser')

In [13]:
title = []

for i in bs.find_all('td' ,class_='titleColumn'):
    title.append(i.text.replace('\n',''))
title

['      1.      The Shawshank Redemption(1994)',
 '      2.      The Godfather(1972)',
 '      3.      The Godfather: Part II(1974)',
 '      4.      The Dark Knight(2008)',
 '      5.      12 Angry Men(1957)',
 "      6.      Schindler's List(1993)",
 '      7.      The Lord of the Rings: The Return of the King(2003)',
 '      8.      Pulp Fiction(1994)',
 '      9.      Il buono, il brutto, il cattivo(1966)',
 '      10.      The Lord of the Rings: The Fellowship of the Ring(2001)',
 '      11.      Fight Club(1999)',
 '      12.      Forrest Gump(1994)',
 '      13.      Inception(2010)',
 '      14.      The Lord of the Rings: The Two Towers(2002)',
 '      15.      Star Wars: Episode V - The Empire Strikes Back(1980)',
 '      16.      The Matrix(1999)',
 '      17.      Goodfellas(1990)',
 "      18.      One Flew Over the Cuckoo's Nest(1975)",
 '      19.      Shichinin no samurai(1954)',
 '      20.      Se7en(1995)',
 '      21.      The Silence of the Lambs(1991)',
 '      22.      Cidade de Deus(2002)',
 '      23.      La vita è bella(1997)',
 "      24.      It's a Wonderful Life(1946)",
 '      25.      Star Wars(1977)',
 '      26.      Saving Private Ryan(1998)',
 '      27.      Interstellar(2014)',
 '      28.      Sen to Chihiro no kamikakushi(2001)',
 '      29.      The Green Mile(1999)',
 '      30.      Gisaengchung(2019)',
 '      31.      Léon(1994)',
 '      32.      Seppuku(1962)',
 '      33.      The Pianist(2002)',
 '      34.      The Usual Suspects(1995)',
 '      35.      Terminator 2: Judgment Day(1991)',
 '      36.      Back to the Future(1985)',
 '      37.      Psycho(1960)',
 '      38.      The Lion King(1994)',
 '      39.      Modern Times(1936)',
 '      40.      American History X(1998)',
 '      41.      Hotaru no haka(1988)',
 '      42.      City Lights(1931)',
 '      43.      Whiplash(2014)',
 '      44.      Gladiator(2000)',
 '      45.      The Departed(2006)',
 '      46.      The Intouchables(2011)',
 '      47.      The Prestige(2006)',
 '      48.      Casablanca(1942)',
 '      49.      Once Upon a Time in the West(1968)',
 '      50.      Rear Window(1954)',
 '      51.      Nuovo Cinema Paradiso(1988)',
 '      52.      Alien(1979)',
 '      53.      Apocalypse Now(1979)',
 '      54.      Memento(2000)',
 '      55.      Raiders of the Lost Ark(1981)',
 '      56.      The Great Dictator(1940)',
 '      57.      The Lives of Others(2006)',
 '      58.      Django Unchained(2012)',
 '      59.      Paths of Glory(1957)',
 '      60.      Sunset Blvd.(1950)',
 '      61.      WALL·E(2008)',
 '      62.      Avengers: Infinity War(2018)',
 '      63.      Witness for the Prosecution(1957)',
 '      64.      The Shining(1980)',
 '      65.      Spider-Man: Into the Spider-Verse(2018)',
 '      66.      Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb(1964)',
 '      67.      Joker(2019)',
 '      68.      Mononoke-hime(1997)',
 '      69.      Oldeuboi(2003)',
 '      70.      Kimi no na wa.(2016)',
 '      71.      The Dark Knight Rises(2012)',
 '      72.      Coco(2017)',
 '      73.      Aliens(1986)',
 '      74.      Once Upon a Time in America(1984)',
 '      75.      Capharnaüm(2018)',
 '      76.      Avengers: Endgame(2019)',
 '      77.      Das Boot(1981)',
 '      78.      Tengoku to jigoku(1963)',
 '      79.      Hamilton(2020)',
 '      80.      American Beauty(1999)',
 '      81.      Toy Story(1995)',
 '      82.      3 Idiots(2009)',
 '      83.      Amadeus(1984)',
 '      84.      Braveheart(1995)',
 '      85.      Inglourious Basterds(2009)',
 '      86.      Good Will Hunting(1997)',
 '      87.      Star Wars: Episode VI - Return of the Jedi(1983)',
 '      88.      2001: A Space Odyssey(1968)',
 '      89.      Reservoir Dogs(1992)',
 '      90.      M - Eine Stadt sucht einen Mörder(1931)',
 '      91.      Vertigo(1958)',
 '      92.      Taare Zameen Par(2007)',
 '      93.      Citizen Kane(1941)',
 '      94.      Idi i smotri(1985)',
 '      95.      Jagten(2012)',
 '      96.      Requiem for a Dream(2000)',
 "      97.      Singin' in the Rain(1952)",
 '      98.      North by Northwest(1959)',
 '      99.      Eternal Sunshine of the Spotless Mind(2004)',
 '      100.      Ladri di biciclette(1948)',
 '      101.      Ikiru(1952)',
 '      102.      Lawrence of Arabia(1962)',
 '      103.      The Kid(1921)',
 '      104.      Pather Panchali(1955)',
 '      105.      Full Metal Jacket(1987)',
 '      106.      Dangal(2016)',
 '      107.      The Father(2020)',
 '      108.      The Apartment(1960)',
 '      109.      Incendies(2010)',
 '      110.      A Clockwork Orange(1971)',
 '      111.      Taxi Driver(1976)',
 '      112.      Metropolis(1927)',
 '      113.      Double Indemnity(1944)',
 '      114.      The Sting(1973)',
 '      115.      Jodaeiye Nader az Simin(2011)',
 '      116.      Scarface(1983)',
 '      117.      1917(2019)',
 '      118.      Snatch(2000)',
 "      119.      Le fabuleux destin d'Amélie Poulain(2001)",
 '      120.      To Kill a Mockingbird(1962)',
 '      121.      Toy Story 3(2010)',
 '      122.      Per qualche dollaro in più(1965)',
 '      123.      Up(2009)',
 '      124.      Indiana Jones and the Last Crusade(1989)',
 '      125.      Heat(1995)',
 '      126.      L.A. Confidential(1997)',
 '      127.      Dune: Part One(2021)',
 '      128.      Yôjinbô(1961)',
 '      129.      Ran(1985)',
 '      130.      Die Hard(1988)',
 '      131.      Rashômon(1950)',
 '      132.      Green Book(2018)',
 '      133.      Der Untergang(2004)',
 '      134.      Monty Python and the Holy Grail(1975)',
 '      135.      All About Eve(1950)',
 '      136.      Batman Begins(2005)',
 '      137.      Some Like It Hot(1959)',
 '      138.      Unforgiven(1992)',
 '      139.      Bacheha-Ye aseman(1997)',
 '      140.      Hauru no ugoku shiro(2004)',
 '      141.      The Wolf of Wall Street(2013)',
 '      142.      Judgment at Nuremberg(1961)',
 '      143.      The Great Escape(1963)',
 '      144.      Casino(1995)',
 '      145.      The Treasure of the Sierra Madre(1948)',
 '      146.      There Will Be Blood(2007)',
 "      147.      Pan's Labyrinth(2006)",
 '      148.      A Beautiful Mind(2001)',
 '      149.      El secreto de sus ojos(2009)',
 '      150.      Raging Bull(1980)',
 '      151.      Tonari no Totoro(1988)',
 '      152.      Chinatown(1974)',
 '      153.      Lock, Stock and Two Smoking Barrels(1998)',
 '      154.      Shutter Island(2010)',
 '      155.      The Gold Rush(1925)',
 '      156.      No Country for Old Men(2007)',
 '      157.      Dial M for Murder(1954)',
 '      158.      Det sjunde inseglet(1957)',
 '      159.      Three Billboards Outside Ebbing, Missouri(2017)',
 '      160.      The Thing(1982)',
 '      161.      The Elephant Man(1980)',
 '      162.      The Sixth Sense(1999)',
 '      163.      Klaus(2019)',
 '      164.      Smultronstället(1957)',
 '      165.      The Third Man(1949)',
 '      166.      The Truman Show(1998)',
 '      167.      Jurassic Park(1993)',
 '      168.      V for Vendetta(2005)',
 '      169.      Salinui chueok(2003)',
 '      170.      Inside Out(2015)',
 '      171.      Blade Runner(1982)',
 '      172.      Trainspotting(1996)',
 '      173.      The Bridge on the River Kwai(1957)',
 '      174.      Fargo(1996)',
 '      175.      Warrior(2011)',
 '      176.      Finding Nemo(2003)',
 '      177.      Kill Bill: Vol. 1(2003)',
 '      178.      Gone with the Wind(1939)',
 '      179.      Tôkyô monogatari(1953)',
 '      180.      On the Waterfront(1954)',
 '      181.      Babam ve Oglum(2005)',
 '      182.      Z(1969)',
 '      183.      Stalker(1979)',
 '      184.      Relatos salvajes(2014)',
 '      185.      The Deer Hunter(1978)',
 '      186.      Sherlock Jr.(1924)',
 '      187.      Gran Torino(2008)',
 '      188.      The General(1926)',
 '      189.      Persona(1966)',
 '      190.      The Grand Budapest Hotel(2014)',
 '      191.      Prisoners(2013)',
 '      192.      Before Sunrise(1995)',
 '      193.      Mary and Max.(2009)',
 '      194.      Mr. Smith Goes to Washington(1939)',
 '      195.      Catch Me If You Can(2002)',
 '      196.      Room(2015)',
 '      197.      In the Name of the Father(1993)',
 '      198.      Barry Lyndon(1975)',
 '      199.      Gone Girl(2014)',
 '      200.      Hacksaw Ridge(2016)',
 "      201.      La passion de Jeanne d'Arc(1928)",
 '      202.      Andhadhun(2018)',
 '      203.      To Be or Not to Be(1942)',
 '      204.      Ford v Ferrari(2019)',
 '      205.      12 Years a Slave(2013)',
 '      206.      The Big Lebowski(1998)',
 '      207.      How to Train Your Dragon(2010)',
 '      208.      Höstsonaten(1978)',
 '      209.      Mad Max: Fury Road(2015)',
 '      210.      Dead Poets Society(1989)',
 '      211.      Ben-Hur(1959)',
 '      212.      Million Dollar Baby(2004)',
 '      213.      Harry Potter and the Deathly Hallows: Part 2(2011)',
 '      214.      Le salaire de la peur(1953)',
 '      215.      Stand by Me(1986)',
 '      216.      Ah-ga-ssi(2016)',
 '      217.      Network(1976)',
 '      218.      Logan(2017)',
 '      219.      Cool Hand Luke(1967)',
 "      220.      Hachi: A Dog's Tale(2009)",
 '      221.      Les quatre cents coups(1959)',
 '      222.      Gangs of Wasseypur(2012)',
 '      223.      La haine(1995)',
 '      224.      Platoon(1986)',
 '      225.      Spotlight(2015)',
 '      226.      Koe no katachi(2016)',
 '      227.      Rebecca(1940)',
 '      228.      Monsters, Inc.(2001)',
 '      229.      Life of Brian(1979)',
 '      230.      Eskiya(1996)',
 '      231.      Hotel Rwanda(2004)',
 '      232.      Fa Yeung Nin Wah(2000)',
 '      233.      Rush(2013)',
 '      234.      Into the Wild(2007)',
 '      235.      Amores perros(2000)',
 '      236.      Rocky(1976)',
 '      237.      Kaze no tani no Naushika(1984)',
 '      238.      Andrei Rublev(1966)',
 '      239.      It Happened One Night(1934)',
 '      240.      Fanny och Alexander(1982)',
 '      241.      Before Sunset(2004)',
 '      242.      Shin seiki Evangelion Gekijô-ban: Air/Magokoro wo, kimi ni(1997)',
 '      243.      La battaglia di Algeri(1966)',
 '      244.      Kimetsu no Yaiba: Mugen Ressha-Hen(2020)',
 '      245.      The Princess Bride(1987)',
 '      246.      Le notti di Cabiria(1957)',
 '      247.      Paris, Texas(1984)',
 '      248.      Trois couleurs: Rouge(1994)',
 '      249.      Mandariinid(2013)',
 '      250.      Miracle in Cell No. 7(2019)']

In [14]:
rating = []

for i in bs.find_all('td' ,class_='ratingColumn imdbRating'):
    rating.append(i.text.replace('\n',''))
rating

['9.2',
 '9.1',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0']

In [15]:
release = []

for i in bs.find_all('span' ,class_='secondaryInfo'):
    release.append(i.text)
release

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(2010)',
 '(2002)',
 '(1980)',
 '(1999)',
 '(1990)',
 '(1975)',
 '(1954)',
 '(1995)',
 '(1991)',
 '(2002)',
 '(1997)',
 '(1946)',
 '(1977)',
 '(1998)',
 '(2014)',
 '(2001)',
 '(1999)',
 '(2019)',
 '(1994)',
 '(1962)',
 '(2002)',
 '(1995)',
 '(1991)',
 '(1985)',
 '(1960)',
 '(1994)',
 '(1936)',
 '(1998)',
 '(1988)',
 '(1931)',
 '(2014)',
 '(2000)',
 '(2006)',
 '(2011)',
 '(2006)',
 '(1942)',
 '(1968)',
 '(1954)',
 '(1988)',
 '(1979)',
 '(1979)',
 '(2000)',
 '(1981)',
 '(1940)',
 '(2006)',
 '(2012)',
 '(1957)',
 '(1950)',
 '(2008)',
 '(2018)',
 '(1957)',
 '(1980)',
 '(2018)',
 '(1964)',
 '(2019)',
 '(1997)',
 '(2003)',
 '(2016)',
 '(2012)',
 '(2017)',
 '(1986)',
 '(1984)',
 '(2018)',
 '(2019)',
 '(1981)',
 '(1963)',
 '(2020)',
 '(1999)',
 '(1995)',
 '(2009)',
 '(1984)',
 '(1995)',
 '(2009)',
 '(1997)',
 '(1983)',
 '(1968)',
 '(1992)',
 '(1931)',
 '(1958)',
 '(2007)',
 '(1941)',
 '(1985)',
 '(2012)',
 '(2000)',
 '(1952)',
 '(1959)',
 '(2004)',
 '(1948)',
 '(1952)',
 '(1962)',
 '(1921)',
 '(1955)',
 '(1987)',
 '(2016)',
 '(2020)',
 '(1960)',
 '(2010)',
 '(1971)',
 '(1976)',
 '(1927)',
 '(1944)',
 '(1973)',
 '(2011)',
 '(1983)',
 '(2019)',
 '(2000)',
 '(2001)',
 '(1962)',
 '(2010)',
 '(1965)',
 '(2009)',
 '(1989)',
 '(1995)',
 '(1997)',
 '(2021)',
 '(1961)',
 '(1985)',
 '(1988)',
 '(1950)',
 '(2018)',
 '(2004)',
 '(1975)',
 '(1950)',
 '(2005)',
 '(1959)',
 '(1992)',
 '(1997)',
 '(2004)',
 '(2013)',
 '(1961)',
 '(1963)',
 '(1995)',
 '(1948)',
 '(2007)',
 '(2006)',
 '(2001)',
 '(2009)',
 '(1980)',
 '(1988)',
 '(1974)',
 '(1998)',
 '(2010)',
 '(1925)',
 '(2007)',
 '(1954)',
 '(1957)',
 '(2017)',
 '(1982)',
 '(1980)',
 '(1999)',
 '(2019)',
 '(1957)',
 '(1949)',
 '(1998)',
 '(1993)',
 '(2005)',
 '(2003)',
 '(2015)',
 '(1982)',
 '(1996)',
 '(1957)',
 '(1996)',
 '(2011)',
 '(2003)',
 '(2003)',
 '(1939)',
 '(1953)',
 '(1954)',
 '(2005)',
 '(1969)',
 '(1979)',
 '(2014)',
 '(1978)',
 '(1924)',
 '(2008)',
 '(1926)',
 '(1966)',
 '(2014)',
 '(2013)',
 '(1995)',
 '(2009)',
 '(1939)',
 '(2002)',
 '(2015)',
 '(1993)',
 '(1975)',
 '(2014)',
 '(2016)',
 '(1928)',
 '(2018)',
 '(1942)',
 '(2019)',
 '(2013)',
 '(1998)',
 '(2010)',
 '(1978)',
 '(2015)',
 '(1989)',
 '(1959)',
 '(2004)',
 '(2011)',
 '(1953)',
 '(1986)',
 '(2016)',
 '(1976)',
 '(2017)',
 '(1967)',
 '(2009)',
 '(1959)',
 '(2012)',
 '(1995)',
 '(1986)',
 '(2015)',
 '(2016)',
 '(1940)',
 '(2001)',
 '(1979)',
 '(1996)',
 '(2004)',
 '(2000)',
 '(2013)',
 '(2007)',
 '(2000)',
 '(1976)',
 '(1984)',
 '(1966)',
 '(1934)',
 '(1982)',
 '(2004)',
 '(1997)',
 '(1966)',
 '(2020)',
 '(1987)',
 '(1957)',
 '(1984)',
 '(1994)',
 '(2013)',
 '(2019)']

In [16]:
import pandas as pd

In [17]:
df = pd.DataFrame({'Name': title,'IMDB rating':rating,'Year of release': release})

In [18]:
df

                                             Name IMDB rating Year of release
0          1.      The Shawshank Redemption(1994)         9.2          (1994)
1                     2.      The Godfather(1972)         9.1          (1972)
2            3.      The Godfather: Part II(1974)         9.0          (1974)
3                   4.      The Dark Knight(2008)         9.0          (2008)
4                      5.      12 Angry Men(1957)         8.9          (1957)
..                                            ...         ...             ...
245           246.      Le notti di Cabiria(1957)         8.0          (1957)
246                  247.      Paris, Texas(1984)         8.0          (1984)
247         248.      Trois couleurs: Rouge(1994)         8.0          (1994)
248                   249.      Mandariinid(2013)         8.0          (2013)
249         250.      Miracle in Cell No. 7(2019)         8.0          (2019)

[250 rows x 3 columns]

In [19]:
df.sort_values('IMDB rating',ascending=False).head(100)

                                            Name IMDB rating Year of release
0         1.      The Shawshank Redemption(1994)         9.2          (1994)
1                    2.      The Godfather(1972)         9.1          (1972)
2           3.      The Godfather: Part II(1974)         9.0          (1974)
3                  4.      The Dark Knight(2008)         9.0          (2008)
4                     5.      12 Angry Men(1957)         8.9          (1957)
..                                           ...         ...             ...
78                       79.      Hamilton(2020)         8.3          (2020)
75              76.      Avengers: Endgame(2019)         8.3          (2019)
80                      81.      Toy Story(1995)         8.3          (1995)
79                80.      American Beauty(1999)         8.3          (1999)
81                       82.      3 Idiots(2009)         8.3          (2009)

[100 rows x 3 columns]

# QUESTION NUMBER 3

In [20]:
url = 'https://www.imdb.com/india/top-rated-indian-movies/?sort=rk,asc&mode=simple&page=1'
r = requests.get(url)
htmlcontent = r.content

from bs4 import BeautifulSoup
soup = BeautifulSoup(htmlcontent,'html.parser')

In [21]:
T = []

for i in soup.find_all('td' ,class_='titleColumn'):
    T.append(i.text.replace('\n',''))
T

['      1.      Sardar Udham(2021)',
 '      2.      Nayakan(1987)',
 '      3.      Anbe Sivam(2003)',
 '      4.      Pariyerum Perumal(2018)',
 '      5.      C/o Kancharapalem(2018)',
 '      6.      Manichitrathazhu(1993)',
 '      7.      Golmaal(1979)',
 '      8.      Kireedam(1989)',
 '      9.      Apur Sansar(1959)',
 '      10.      Natsamrat(2016)',
 '      11.      96(2018)',
 '      12.      Thevar Magan(1992)',
 '      13.      Kumbalangi Nights(2019)',
 '      14.      Black Friday(2004)',
 '      15.      Pather Panchali(1955)',
 '      16.      Soorarai Pottru(2020)',
 '      17.      #Home(2021)',
 '      18.      Visaaranai(2015)',
 '      19.      3 Idiots(2009)',
 '      20.      Jersey(2019)',
 '      21.      Taare Zameen Par(2007)',
 '      22.      Asuran(2019)',
 '      23.      Thalapathi(1991)',
 '      24.      Drishyam 2(2021)',
 '      25.      Kaithi(2019)',
 '      26.      Sarpatta Parambarai(2021)',
 '      27.      Dangal(2016)',
 '      28.      Devasuram(1993)',
 '      29.      Aparajito(1956)',
 '      30.      Jaane Bhi Do Yaaro(1983)',
 '      31.      Pyaasa(1957)',
 '      32.      Peranbu(2018)',
 '      33.      Vada Chennai(2018)',
 '      34.      Ratsasan(2018)',
 '      35.      Guide(1965)',
 '      36.      Thani Oruvan(2015)',
 '      37.      Kannathil Muthamittal(2002)',
 '      38.      Spadikam(1995)',
 '      39.      Agent Sai Srinivasa Athreya(2019)',
 '      40.      Iruvar(1997)',
 '      41.      Chupke Chupke(1975)',
 '      42.      Super Deluxe(2019)',
 '      43.      Mahanati(2018)',
 '      44.      Aruvi(2016)',
 '      45.      Khosla Ka Ghosla!(2006)',
 '      46.      Pudhu Pettai(2006)',
 '      47.      Drishyam(2013)',
 '      48.      Tumbbad(2018)',
 '      49.      Anniyan(2005)',
 '      50.      Premam(2015)',
 '      51.      Mudhalvan(1999)',
 '      52.      Vikram Vedha(2017)',
 '      53.      Kaakkaa Muttai(2014)',
 '      54.      Bangalore Days(2014)',
 '      55.      Satya(1998)',
 '      56.      Angoor(1982)',
 '      57.      Papanasam(2015)',
 '      58.      Soodhu Kavvum(2013)',
 '      59.      Andhadhun(2018)',
 '      60.      Dhuruvangal Pathinaaru(2016)',
 '      61.      Shahid(2012)',
 '      62.      Mandela(2021)',
 '      63.      Pithamagan(2003)',
 '      64.      Anand(1971)',
 '      65.      Jigarthanda(2014)',
 '      66.      Gangs of Wasseypur(2012)',
 '      67.      Paan Singh Tomar(2012)',
 '      68.      Sairat(2016)',
 '      69.      Bhaag Milkha Bhaag(2013)',
 '      70.      Hera Pheri(2000)',
 '      71.      Maheshinte Prathikaaram(2016)',
 '      72.      Sholay(1975)',
 '      73.      Swades: We, the People(2004)',
 '      74.      Talvar(2015)',
 '      75.      Chak De! India(2007)',
 '      76.      Ustad Hotel(2012)',
 '      77.      Mughal-E-Azam(1960)',
 '      78.      Black(2005)',
 '      79.      Zindagi Na Milegi Dobara(2011)',
 '      80.      Jo Jeeta Wohi Sikandar(1992)',
 '      81.      Chhichhore(2019)',
 '      82.      Theeran Adhigaaram Ondru(2017)',
 '      83.      Nil Battey Sannata(2015)',
 '      84.      Article 15(2019)',
 '      85.      Drishyam(2015)',
 '      86.      Charulata(1964)',
 '      87.      Udaan(2010)',
 '      88.      Baasha(1995)',
 '      89.      A Wednesday(2008)',
 '      90.      Masaan(2015)',
 '      91.      Alai Payuthey(2000)',
 '      92.      Munna Bhai M.B.B.S.(2003)',
 '      93.      Virumandi(2004)',
 '      94.      Sarfarosh(1999)',
 '      95.      Queen(2013)',
 '      96.      Roja(1992)',
 '      97.      Dil Chahta Hai(2001)',
 '      98.      Rang De Basanti(2006)',
 '      99.      OMG: Oh My God!(2012)',
 '      100.      Uri: The Surgical Strike(2019)',
 '      101.      Lagaan: Once Upon a Time in India(2001)',
 '      102.      Andaz Apna Apna(1994)',
 '      103.      Kahaani(2012)',
 '      104.      PK(2014)',
 '      105.      Lucia(2013)',
 '      106.      Bommarillu(2006)',
 '      107.      The Legend of Bhagat Singh(2002)',
 '      108.      Iqbal(2005)',
 '      109.      Barfi!(2012)',
 '      110.      Section 375(2019)',
 '      111.      Maqbool(2003)',
 '      112.      Pink(2016)',
 '      113.      Bombay(1995)',
 '      114.      Indian(1996)',
 '      115.      The Great Indian Kitchen(2021)',
 '      116.      Omkara(2006)',
 '      117.      Thadam(2019)',
 '      118.      Shershaah(2021)',
 '      119.      Kshanam(2016)',
 '      120.      Lage Raho Munna Bhai(2006)',
 '      121.      Pelli Choopulu(2016)',
 '      122.      Baahubali 2: The Conclusion(2017)',
 '      123.      Deewaar(1975)',
 '      124.      Pranchiyettan and the Saint(2010)',
 '      125.      Rangasthalam(2018)',
 '      126.      Naduvula Konjam Pakkatha Kaanom(2012)',
 '      127.      Padosan(1968)',
 '      128.      Gulaal(2009)',
 '      129.      Athadu(2005)',
 '      130.      Haider(2014)',
 '      131.      Dilwale Dulhania Le Jayenge(1995)',
 '      132.      Padayappa(1999)',
 '      133.      Thondimuthalum Dhriksakshiyum(2017)',
 '      134.      Take Off(2017)',
 '      135.      K.G.F: Chapter 1(2018)',
 '      136.      Aadukalam(2011)',
 '      137.      Ugly(2013)',
 '      138.      Baishe Srabon(2011)',
 '      139.      Mother India(1957)',
 '      140.      Vaaranam Aayiram(2008)',
 '      141.      Special Chabbis(2013)',
 '      142.      Ulidavaru Kandanthe(2014)',
 '      143.      Nayattu(2021)',
 '      144.      Ship of Theseus(2012)',
 '      145.      Badhaai ho(2018)',
 '      146.      Bajrangi Bhaijaan(2015)',
 '      147.      Dev.D(2009)',
 '      148.      Jalsaghar(1958)',
 '      149.      Kirik Party(2016)',
 '      150.      Deiva Thirumagal(2011)',
 '      151.      Vaastav: The Reality(1999)',
 '      152.      Gully Boy(2019)',
 '      153.      Mukkabaaz(2017)',
 '      154.      Vedam(2010)',
 '      155.      Ankhon Dekhi(2013)',
 '      156.      Karnan(2021)',
 '      157.      Company(2002)',
 '      158.      Manjhi: The Mountain Man(2015)',
 '      159.      Pizza(2012)',
 '      160.      Charlie(2015)',
 '      161.      Malik(2021)',
 '      162.      Arjun Reddy(2017)',
 '      163.      Memories(2013)',
 '      164.      My Name Is Khan(2010)',
 '      165.      Jab We Met(2007)',
 '      166.      Dil Bechara(2020)',
 '      167.      Kal Ho Naa Ho(2003)',
 '      168.      Ayyappanum Koshiyum(2020)',
 '      169.      Border(1997)',
 '      170.      Vinnaithaandi Varuvaayaa(2010)',
 '      171.      Poove Unakkaga(1996)',
 '      172.      Super 30(2019)',
 '      173.      Mumbai Police(2013)',
 '      174.      Kaakha..Kaakha: The Police(2003)',
 '      175.      Angamaly Diaries(2017)',
 '      176.      Sonchiriya(2019)',
 '      177.      Unnaipol Oruvan(2009)',
 '      178.      Anjaam Pathiraa(2020)',
 '      179.      Lakshya(2004)',
 '      180.      Bãhubali: The Beginning(2015)',
 '      181.      Hey Ram(2000)',
 '      182.      Thulladha Manamum Thullum(1999)',
 '      183.      Vettaiyaadu Vilaiyaadu(2006)',
 '      184.      Padman(2018)',
 '      185.      Dor(2006)',
 '      186.      Baby(2015)',
 '      187.      Airlift(2016)',
 '      188.      Hindi Medium(2017)',
 '      189.      Okkadu(2003)',
 '      190.      English Vinglish(2012)',
 '      191.      Gangaajal(2003)',
 '      192.      The Lunchbox(2013)',
 '      193.      Manam(2014)',
 '      194.      Johnny Gaddaar(2007)',
 '      195.      Ab Tak Chhappan(2004)',
 '      196.      M.S. Dhoni: The Untold Story(2016)',
 '      197.      Joji(2021)',
 '      198.      Pokiri(2006)',
 '      199.      Badla(2019)',
 '      200.      Goodachari(2018)',
 '      201.      Aayirathil Oruvan(2010)',
 '      202.      Secret Superstar(2017)',
 '      203.      Nayak: The Real Hero(2001)',
 '      204.      Vicky Donor(2012)',
 '      205.      Stanley Ka Dabba(2011)',
 '      206.      Mimi(2021)',
 '      207.      Mr. India(1987)',
 '      208.      Raazi(2018)',
 '      209.      Don(1978)',
 '      210.      RangiTaranga(2015)',
 '      211.      Udta Punjab(2016)',
 '      212.      Velaiilla Pattadhari(2014)',
 '      213.      Ko(2011)',
 '      214.      Aligarh(2015)',
 '      215.      Veer-Zaara(2004)',
 '      216.      Thuppakki(2012)',
 '      217.      Rock On!!(2008)',
 '      218.      Dasvidaniya(2008)',
 '      219.      Arya(2004)',
 '      220.      Kaththi(2014)',
 '      221.      Guru(2007)',
 '      222.      Kai po che!(2013)',
 '      223.      Samsara(2001)',
 '      224.      Oye Lucky! Lucky Oye!(2008)',
 '      225.      Ghilli(2004)',
 '      226.      24(2016)',
 '      227.      Rockstar(2011)',
 '      228.      Eega(2012)',
 '      229.      Mumbai Meri Jaan(2008)',
 '      230.      Kushi(2000)',
 '      231.      Darr(1993)',
 '      232.      Kabhi Haan Kabhi Naa(1994)',
 '      233.      Sir(2018)',
 '      234.      Avane Srimannarayana(2019)',
 '      235.      C U Soon(2020)',
 '      236.      Kapoor & Sons(2016)',
 '      237.      Ugramm(2014)',
 '      238.      Newton(2017)',
 '      239.      The Tashkent Files(2019)',
 '      240.      Aamir(2008)',
 '      241.      Earth(1998)',
 '      242.      Detective Byomkesh Bakshy!(2015)',
 '      243.      Agneepath(1990)',
 '      244.      State of Siege: Temple Attack(2021)',
 '      245.      Madras Cafe(2013)',
 '      246.      Sarkar(2005)',
 '      247.      Bheja Fry(2007)',
 '      248.      Kannum Kannum Kollaiyadithaal(2020)',
 '      249.      Neerja(2016)',
 '      250.      Pyaar Ka Punchnama(2011)']

In [22]:
R = []

for i in soup.find_all('span' ,class_='secondaryInfo'):
    R.append(i.text)
R

['(2021)',
 '(1987)',
 '(2003)',
 '(2018)',
 '(2018)',
 '(1993)',
 '(1979)',
 '(1989)',
 '(1959)',
 '(2016)',
 '(2018)',
 '(1992)',
 '(2019)',
 '(2004)',
 '(1955)',
 '(2020)',
 '(2021)',
 '(2015)',
 '(2009)',
 '(2019)',
 '(2007)',
 '(2019)',
 '(1991)',
 '(2021)',
 '(2019)',
 '(2021)',
 '(2016)',
 '(1993)',
 '(1956)',
 '(1983)',
 '(1957)',
 '(2018)',
 '(2018)',
 '(2018)',
 '(1965)',
 '(2015)',
 '(2002)',
 '(1995)',
 '(2019)',
 '(1997)',
 '(1975)',
 '(2019)',
 '(2018)',
 '(2016)',
 '(2006)',
 '(2006)',
 '(2013)',
 '(2018)',
 '(2005)',
 '(2015)',
 '(1999)',
 '(2017)',
 '(2014)',
 '(2014)',
 '(1998)',
 '(1982)',
 '(2015)',
 '(2013)',
 '(2018)',
 '(2016)',
 '(2012)',
 '(2021)',
 '(2003)',
 '(1971)',
 '(2014)',
 '(2012)',
 '(2012)',
 '(2016)',
 '(2013)',
 '(2000)',
 '(2016)',
 '(1975)',
 '(2004)',
 '(2015)',
 '(2007)',
 '(2012)',
 '(1960)',
 '(2005)',
 '(2011)',
 '(1992)',
 '(2019)',
 '(2017)',
 '(2015)',
 '(2019)',
 '(2015)',
 '(1964)',
 '(2010)',
 '(1995)',
 '(2008)',
 '(2015)',
 '(2000)',
 '(2003)',
 '(2004)',
 '(1999)',
 '(2013)',
 '(1992)',
 '(2001)',
 '(2006)',
 '(2012)',
 '(2019)',
 '(2001)',
 '(1994)',
 '(2012)',
 '(2014)',
 '(2013)',
 '(2006)',
 '(2002)',
 '(2005)',
 '(2012)',
 '(2019)',
 '(2003)',
 '(2016)',
 '(1995)',
 '(1996)',
 '(2021)',
 '(2006)',
 '(2019)',
 '(2021)',
 '(2016)',
 '(2006)',
 '(2016)',
 '(2017)',
 '(1975)',
 '(2010)',
 '(2018)',
 '(2012)',
 '(1968)',
 '(2009)',
 '(2005)',
 '(2014)',
 '(1995)',
 '(1999)',
 '(2017)',
 '(2017)',
 '(2018)',
 '(2011)',
 '(2013)',
 '(2011)',
 '(1957)',
 '(2008)',
 '(2013)',
 '(2014)',
 '(2021)',
 '(2012)',
 '(2018)',
 '(2015)',
 '(2009)',
 '(1958)',
 '(2016)',
 '(2011)',
 '(1999)',
 '(2019)',
 '(2017)',
 '(2010)',
 '(2013)',
 '(2021)',
 '(2002)',
 '(2015)',
 '(2012)',
 '(2015)',
 '(2021)',
 '(2017)',
 '(2013)',
 '(2010)',
 '(2007)',
 '(2020)',
 '(2003)',
 '(2020)',
 '(1997)',
 '(2010)',
 '(1996)',
 '(2019)',
 '(2013)',
 '(2003)',
 '(2017)',
 '(2019)',
 '(2009)',
 '(2020)',
 '(2004)',
 '(2015)',
 '(2000)',
 '(1999)',
 '(2006)',
 '(2018)',
 '(2006)',
 '(2015)',
 '(2016)',
 '(2017)',
 '(2003)',
 '(2012)',
 '(2003)',
 '(2013)',
 '(2014)',
 '(2007)',
 '(2004)',
 '(2016)',
 '(2021)',
 '(2006)',
 '(2019)',
 '(2018)',
 '(2010)',
 '(2017)',
 '(2001)',
 '(2012)',
 '(2011)',
 '(2021)',
 '(1987)',
 '(2018)',
 '(1978)',
 '(2015)',
 '(2016)',
 '(2014)',
 '(2011)',
 '(2015)',
 '(2004)',
 '(2012)',
 '(2008)',
 '(2008)',
 '(2004)',
 '(2014)',
 '(2007)',
 '(2013)',
 '(2001)',
 '(2008)',
 '(2004)',
 '(2016)',
 '(2011)',
 '(2012)',
 '(2008)',
 '(2000)',
 '(1993)',
 '(1994)',
 '(2018)',
 '(2019)',
 '(2020)',
 '(2016)',
 '(2014)',
 '(2017)',
 '(2019)',
 '(2008)',
 '(1998)',
 '(2015)',
 '(1990)',
 '(2021)',
 '(2013)',
 '(2005)',
 '(2007)',
 '(2020)',
 '(2016)',
 '(2011)']

In [23]:
Y = []

for i in soup.find_all('td' ,class_='ratingColumn imdbRating'):
    Y.append(i.text.replace('\n',''))
Y

['8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6']

In [24]:
data = pd.DataFrame({'Name':T,'IMDB rating':R,'Year of release':Y})

In [25]:
data

,Name,IMDB rating,Year of release
0,1. Sardar Udham(2021),(2021),8.6
1,2. Nayakan(1987),(1987),8.5
2,3. Anbe Sivam(2003),(2003),8.5
3,4. Pariyerum Perumal(2018),(2018),8.5
4,5. C/o Kancharapalem(2018),(2018),8.5
...,...,...,...
245,246. Sarkar(2005),(2005),7.6
246,247. Bheja Fry(2007),(2007),7.6
247,248. Kannum Kannum Kollaiyadithaal(...,(2020),7.6
248,249. Neerja(2016),(2016),7.6
249,250. Pyaar Ka Punchnama(2011),(2011),7.6

In [26]:
data.sort_values('IMDB rating',ascending=False).head(100)

,Name,IMDB rating,Year of release
0,1. Sardar Udham(2021),(2021),8.6
16,17. #Home(2021),(2021),8.4
117,118. Shershaah(2021),(2021),8.0
114,115. The Great Indian Kitchen(2021),(2021),8.0
142,143. Nayattu(2021),(2021),7.9
...,...,...,...
103,104. PK(2014),(2014),8.1
141,142. Ulidavaru Kandanthe(2014),(2014),8.0
129,130. Haider(2014),(2014),8.0
53,54. Bangalore Days(2014),(2014),8.2
236,237. Ugramm(2014),(2014),7.6

# QUESTION NUMBER 4(i)

In [27]:
import requests
from bs4 import BeautifulSoup

In [28]:
#ODI best team URL
source = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

In [29]:
page = requests.get(source)

In [30]:
page

In [31]:
htmlContent= page.content

In [32]:
soup= BeautifulSoup(htmlContent,'html.parser')

In [33]:
# name of ODI best team rank wise
team = soup.find_all('span', class_='u-hide-phablet')

In [34]:
#fetching name for first 10 best team
ODI_team = []
for i in range(0,10): #using range function to extract only top 10 data
    ODI_team.append(team[i].get_text().replace("\n",""))
ODI_team

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [35]:
#number of matches played by team 1 i.e New Zealand
team1_matches = soup.find('td', class_='rankings-block__banner--matches').text
team1_matches

'17'

In [36]:
#fetching other details about ODI best team
# since matches and points are present inside the same class so fetching all the deatils present inside this class
add_info =[]
aditional_info = soup.find_all('td', class_='table-body__cell u-center-text')
for i in aditional_info:
    add_info.append(i.get_text().replace("\n",""))
add_info

['32',
 '3,793',
 '28',
 '3,244',
 '32',
 '3,624',
 '25',
 '2,459',
 '27',
 '2,524',
 '30',
 '2,740',
 '30',
 '2,523',
 '32',
 '2,657',
 '17',
 '1,054',
 '7',
 '336',
 '25',
 '1,145',
 '10',
 '452',
 '20',
 '764',
 '14',
 '524',
 '11',
 '330',
 '9',
 '190',
 '14',
 '232',
 '6',
 '97',
 '13',
 '0']

In [37]:
#this is number of matches played by top 9 teams
ODI_match = []
for i in range(0,18,2):
    ODI_match.append(aditional_info[i].get_text().replace("\n",""))
ODI_match

['32', '28', '32', '25', '27', '30', '30', '32', '17']

In [38]:
#inserting number of matches played by team 1 into ODI_match
ODI_match.insert(0, "17")
ODI_match

['17', '32', '28', '32', '25', '27', '30', '30', '32', '17']

In [39]:
#number of points by rest of the team
ODI_points = []
for i in range(1,18,2):
    ODI_points.append(aditional_info[i].get_text().replace("\n",""))
ODI_points

['3,793',
 '3,244',
 '3,624',
 '2,459',
 '2,524',
 '2,740',
 '2,523',
 '2,657',
 '1,054']

In [40]:
#inserting number of points made by team1 into ODI_points
ODI_points.insert(0, "2,054")
ODI_points

['2,054',
 '3,793',
 '3,244',
 '3,624',
 '2,459',
 '2,524',
 '2,740',
 '2,523',
 '2,657',
 '1,054']

In [41]:
# ratings for the rest of the team
rating = soup.find_all('td', class_='table-body__cell u-text-right rating')

In [42]:
ODI_rating = []
for i in range(0,9):
    ODI_rating.append(rating[i].get_text().replace("\n",""))
ODI_rating

['119', '116', '113', '98', '93', '91', '84', '83', '62']

In [43]:
#inserting rating of team 1 into ODI_rating
ODI_rating.insert(0, "121")
ODI_rating

['121', '119', '116', '113', '98', '93', '91', '84', '83', '62']

In [44]:
import pandas as pd

In [45]:
#creating dataframe
data = list(zip(ODI_team,ODI_match,ODI_points,ODI_rating))

In [46]:
df = pd.DataFrame(data,columns=['ODI_team','ODI_match','ODI_points','ODI_rating'])

In [47]:
df.head(10)

       ODI_team ODI_match ODI_points ODI_rating
0   New Zealand        17      2,054        121
1       England        32      3,793        119
2     Australia        28      3,244        116
3         India        32      3,624        113
4  South Africa        25      2,459         98
5      Pakistan        27      2,524         93
6    Bangladesh        30      2,740         91
7   West Indies        30      2,523         84
8     Sri Lanka        32      2,657         83
9   Afghanistan        17      1,054         62

# QUESTION NUMBER 4(ii)

In [48]:
import requests

In [49]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'

In [50]:
r = requests.get(url)

In [51]:
htmlcontent = r.content

In [52]:
bs = BeautifulSoup(htmlcontent,'html.parser')

In [53]:
player = []

for i in bs.find_all('td' ,class_='table-body__cell name'):
    player.append(i.text.replace('\n',''))
    
player

['Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Shai Hope',
 'Kane Williamson',
 'Quinton de Kock',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada',
 'Mohammad Nabi',
 'Chris Woakes',
 'Rashid Khan',
 'Mitchell Santner',
 'Ben Stokes',
 'Colin de Grandhomme',
 'Imad Wasim',
 'Ravindra Jadeja',
 'Sikandar Raza',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Shai Hope',
 'Kane Williamson',
 'Quinton de Kock',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada',
 'Mohammad Nabi',
 'Chris Woakes',
 'Rashid Khan',
 'Mitchell Santner',
 'Ben Stokes',
 'Colin de Grandhomme',
 'Imad Wasim',
 'Ravindra Jadeja',
 'Sikandar Raza']

In [54]:
team = []

for i in bs.find_all('td',class_='table-body__cell nationality-logo'):
    team.append(i.text.replace('\n',''))
    
team

['IND',
 'IND',
 'NZ',
 'AUS',
 'ENG',
 'AUS',
 'WI',
 'NZ',
 'SA',
 'AUS',
 'AFG',
 'ENG',
 'BAN',
 'NZ',
 'IND',
 'AUS',
 'BAN',
 'SA',
 'AFG',
 'ENG',
 'AFG',
 'NZ',
 'ENG',
 'NZ',
 'PAK',
 'IND',
 'ZIM',
 'IND',
 'IND',
 'NZ',
 'AUS',
 'ENG',
 'AUS',
 'WI',
 'NZ',
 'SA',
 'AUS',
 'AFG',
 'ENG',
 'BAN',
 'NZ',
 'IND',
 'AUS',
 'BAN',
 'SA',
 'AFG',
 'ENG',
 'AFG',
 'NZ',
 'ENG',
 'NZ',
 'PAK',
 'IND',
 'ZIM']

In [55]:
rating = []

for i in bs.find_all('td',class_='table-body__cell u-text-right rating'):
    rating.append(i.text.replace('\n',''))
    
rating

['844',
 '813',
 '801',
 '779',
 '775',
 '762',
 '758',
 '754',
 '747',
 '709',
 '708',
 '700',
 '692',
 '691',
 '679',
 '652',
 '650',
 '646',
 '294',
 '282',
 '270',
 '268',
 '266',
 '257',
 '256',
 '238',
 '229',
 '844',
 '813',
 '801',
 '779',
 '775',
 '762',
 '758',
 '754',
 '747',
 '709',
 '708',
 '700',
 '692',
 '691',
 '679',
 '652',
 '650',
 '646',
 '294',
 '282',
 '270',
 '268',
 '266',
 '257',
 '256',
 '238',
 '229']

In [56]:
import pandas as pd
df = pd.DataFrame({'PLAYER':player,'TEAM':team,'RATING':rating})

In [57]:
df.sort_values('RATING',ascending=False).head(10)

            PLAYER TEAM RATING
0      Virat Kohli  IND    844
27     Virat Kohli  IND    844
28    Rohit Sharma  IND    813
1     Rohit Sharma  IND    813
29     Ross Taylor   NZ    801
2      Ross Taylor   NZ    801
30     Aaron Finch  AUS    779
3      Aaron Finch  AUS    779
31  Jonny Bairstow  ENG    775
4   Jonny Bairstow  ENG    775

# Question number 4(iii)

In [58]:
#!pip install requests

In [59]:
#!pip install bs4

In [60]:
#!pip install html5lib

In [61]:
import requests

In [62]:
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'

In [63]:
r = requests.get(url)

In [64]:
from bs4 import BeautifulSoup

In [65]:
htmlcontent = r.content

In [66]:
soup = BeautifulSoup(htmlcontent,'html.parser')

In [67]:
P = []

for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    P.append(i.text.replace('\n',''))
    
P

['Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada',
 'Mustafizur Rahman',
 'Pat Cummins',
 'Shaheen Afridi',
 'Mohammad Amir',
 'Rashid Khan',
 'Adam Zampa',
 'Bhuvneshwar Kumar',
 'Lachlan Ferguson',
 'Jofra Archer',
 'Yuzvendra Chahal',
 'Mohammad Nabi',
 'Mark Wood',
 'Alzarri Joseph',
 'Lungi Ngidi',
 'Mitchell Santner',
 'Akila Dananjaya',
 'Andy McBrine',
 'Mohammad Shami',
 'Tabraiz Shamsi',
 'Kuldeep Yadav',
 'Ravindra Jadeja',
 'Sheldon Cottrell',
 'Wanindu De Silva',
 'Ahmed Raza',
 'Dushmantha Chameera',
 'Shadab Khan',
 'Colin de Grandhomme',
 'Simi Singh',
 'David Willey',
 'Tim Southee',
 'Adil Rashid',
 'Ish Sodhi',
 'Keshav Maharaj',
 'Mark Watt',
 'Imad Wasim',
 'Hasan Ali',
 'Usman Khan',
 'Jhye Richardson',
 'Rohan Mustafa',
 'Blessing Muzarabani',
 'Andile Phehlukwayo',
 'Mashrafe Mortaza',
 'Mohammad Mohammad Saifuddin',
 'Safyaan Sharif',
 'Joshua Little',
 'Jimmy Neesham',
 'Tendai Chatara',
 'Saqib Mahmood',
 'Nuwan Pradeep',
 'Jason Holder',
 'Moeen Ali',
 'Wahab Riaz',
 'Faheem Ashraf',
 'Akeal Hosein',
 'Tom Curran',
 'Suranga Lakmal',
 'Ashton Agar',
 'Taskin Ahmed',
 'Anrich Nortje',
 'Josh Davey',
 'Sikandar Raza',
 'Saurabh Netravalkar',
 'Kane Richardson',
 'Sean Williams',
 'Ben Stokes',
 'Shardul Thakur',
 'Craig Young',
 'Dhananjaya de Silva',
 'Sandeep Lamichhane',
 'Rubel Hossain',
 'Gulbadin Naib',
 'Hardik Pandya',
 'Alasdair Evans',
 'Mitchell Marsh',
 'Barry McCarthy',
 'Marcus Stoinis',
 'Zeeshan Maqsood',
 'Nosaina Pokana',
 'Taijul Islam',
 'Bilal Khan',
 'Chad Soper',
 'Mohammad Nawaz',
 'Lakshan Sandakan',
 'Donald Tiripano',
 'Fred Klaassen',
 'Oshane Thomas',
 'Kyle Jamieson',
 'Charles Amini',
 'Michael Leask',
 'Sharafuddin Ashraf']

In [68]:
T = []

for i in soup.find_all('span',class_='table-body__logo-text'):
    T.append(i.text)
    
T

['AUS',
 'AFG',
 'ENG',
 'BAN',
 'NZ',
 'IND',
 'AUS',
 'BAN',
 'SA',
 'BAN',
 'AUS',
 'PAK',
 'PAK',
 'AFG',
 'AUS',
 'IND',
 'NZ',
 'ENG',
 'IND',
 'AFG',
 'ENG',
 'WI',
 'SA',
 'NZ',
 'SL',
 'IRE',
 'IND',
 'SA',
 'IND',
 'IND',
 'WI',
 'SL',
 'UAE',
 'SL',
 'PAK',
 'NZ',
 'IRE',
 'ENG',
 'NZ',
 'ENG',
 '',
 'SA',
 'SCO',
 'PAK',
 'PAK',
 'PAK',
 'AUS',
 'UAE',
 'ZIM',
 'SA',
 'BAN',
 'BAN',
 'SCO',
 'IRE',
 'NZ',
 'ZIM',
 'ENG',
 'SL',
 'WI',
 'ENG',
 'PAK',
 'PAK',
 'WI',
 'ENG',
 'SL',
 'AUS',
 'BAN',
 'SA',
 'SCO',
 'ZIM',
 'USA',
 'AUS',
 'ZIM',
 'ENG',
 'IND',
 'IRE',
 'SL',
 'NEP',
 'BAN',
 'AFG',
 'IND',
 'SCO',
 'AUS',
 'IRE',
 'AUS',
 'OMA',
 'PNG',
 'BAN',
 'OMA',
 'PNG',
 'PAK',
 'SL',
 'ZIM',
 'NED',
 'WI',
 'NZ',
 'PNG',
 'SCO',
 'AFG']

In [69]:
R = []

for i in soup.find_all('td',class_='table-body__cell rating'):
    R.append(i.text)
    
R

['709',
 '708',
 '700',
 '692',
 '691',
 '679',
 '652',
 '650',
 '646',
 '640',
 '636',
 '630',
 '628',
 '626',
 '625',
 '621',
 '619',
 '609',
 '603',
 '596',
 '594',
 '592',
 '590',
 '583',
 '583',
 '579',
 '566',
 '562',
 '562',
 '550',
 '541',
 '531',
 '531',
 '525',
 '517',
 '508',
 '507',
 '501',
 '500',
 '497',
 '496',
 '494',
 '490',
 '488',
 '483',
 '482',
 '480',
 '477',
 '470',
 '469',
 '469',
 '468',
 '467',
 '463',
 '458',
 '458',
 '454',
 '453',
 '451',
 '449',
 '447',
 '445',
 '443',
 '436',
 '436',
 '436',
 '434',
 '432',
 '427',
 '424',
 '419',
 '416',
 '413',
 '410',
 '405',
 '405',
 '401',
 '400',
 '400',
 '399',
 '394',
 '394',
 '390',
 '385',
 '377',
 '377',
 '375',
 '374',
 '373',
 '371',
 '370',
 '370',
 '362',
 '358',
 '355',
 '352',
 '351',
 '351',
 '347']

In [70]:
print(len(P),len(T),len(R))

99 99 99

In [71]:
import pandas as pd

In [72]:
df = pd.DataFrame({'PLAYER':P,'TEAM':T,'RATING':R})

In [73]:
df

                PLAYER TEAM RATING
0       Josh Hazlewood  AUS    709
1     Mujeeb Ur Rahman  AFG    708
2         Chris Woakes  ENG    700
3         Mehedi Hasan  BAN    692
4           Matt Henry   NZ    691
..                 ...  ...    ...
94       Oshane Thomas   WI    355
95       Kyle Jamieson   NZ    352
96       Charles Amini  PNG    351
97       Michael Leask  SCO    351
98  Sharafuddin Ashraf  AFG    347

[99 rows x 3 columns]

In [74]:
df.sort_values('RATING',ascending=False).head(10)

              PLAYER TEAM RATING
0     Josh Hazlewood  AUS    709
1   Mujeeb Ur Rahman  AFG    708
2       Chris Woakes  ENG    700
3       Mehedi Hasan  BAN    692
4         Matt Henry   NZ    691
5     Jasprit Bumrah  IND    679
6     Mitchell Starc  AUS    652
7    Shakib Al Hasan  BAN    650
8      Kagiso Rabada   SA    646
9  Mustafizur Rahman  BAN    640

# QUESTION NUMBER 5(i)

In [75]:
import requests
from bs4 import BeautifulSoup

In [76]:
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'

In [77]:
r = requests.get(url)
r

In [78]:
htmlcontent = r.content

In [79]:
soup = BeautifulSoup(htmlcontent,'html.parser')

In [80]:
team = soup.find_all('span', class_='u-hide-phablet')

In [81]:
ODI_Team = []

for i in range(0,10):
    ODI_Team.append(team[i].get_text().replace('\n'," "))
    
ODI_Team

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [82]:
#number of matches played by team 1
team1_matches = soup.find('td', class_='rankings-block__banner--matches').text
team1_matches

'21'

In [83]:
#fetching other details about ODI best team
aditional_info = soup.find_all('td', class_='table-body__cell u-center-text')

In [84]:
ODI_match = []
for i in range(0,18,2):
    ODI_match.append(aditional_info[i].get_text().replace("\n",""))
ODI_match

['25', '29', '26', '26', '22', '20', '5', '11', '2']

In [85]:
#inserting number of matches played by team 1 into ODI_match
ODI_match.insert(0, "21")
ODI_match

['21', '25', '29', '26', '26', '22', '20', '5', '11', '2']

In [86]:
team_points = soup.find('td', class_='rankings-block__banner--points').text
team_points

'3,379'

In [87]:
#number of points by rest of the team
ODI_points = []
for i in range(1,18,2):
    ODI_points.append(aditional_info[i].get_text().replace("\n",""))
ODI_points

['2,983', '3,390', '2,934', '2,392', '1,872', '1,496', '306', '519', '25']

In [88]:
ODI_points.insert(0, "3379")
ODI_points

['3379',
 '2,983',
 '3,390',
 '2,934',
 '2,392',
 '1,872',
 '1,496',
 '306',
 '519',
 '25']

In [89]:
# ratings for the rest of the team
rating = soup.find_all('td', class_='table-body__cell u-text-right rating')

In [90]:
ODI_rating = []
for i in range(0,9):
    ODI_rating.append(rating[i].get_text().replace("\n",""))
ODI_rating

['119', '117', '113', '92', '85', '75', '61', '47', '13']

In [91]:
ODI_rating.insert(0,"161")
ODI_rating

['161', '119', '117', '113', '92', '85', '75', '61', '47', '13']

In [92]:
#creating dataframe
data = list(zip(ODI_team,ODI_match,ODI_points,ODI_rating))

In [93]:
import pandas as pd
df = pd.DataFrame(data,columns=['ODI_team','ODI_match','ODI_points','ODI_rating'])

In [94]:
df.head(10)

       ODI_team ODI_match ODI_points ODI_rating
0   New Zealand        21       3379        161
1       England        25      2,983        119
2     Australia        29      3,390        117
3         India        26      2,934        113
4  South Africa        26      2,392         92
5      Pakistan        22      1,872         85
6    Bangladesh        20      1,496         75
7   West Indies         5        306         61
8     Sri Lanka        11        519         47
9   Afghanistan         2         25         13

# QUESTION NUMBER 5(ii)

In [95]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
r = requests.get(url)
htmlcontent = r.content

In [96]:
bs = BeautifulSoup(htmlcontent,'html.parser')

In [97]:
team = []

for i in bs.find_all('td',class_='table-body__cell nationality-logo'):
    team.append(i.text.replace('\n',''))
team

['AUS',
 'IND',
 'ENG',
 'NZ',
 'IND',
 'AUS',
 'AUS',
 'ENG',
 'SA',
 'IND',
 'AUS',
 'SA',
 'ENG',
 'SA',
 'ENG',
 'SA',
 'ENG',
 'ENG',
 'ENG',
 'AUS',
 'WI',
 'IND',
 'AUS',
 'SA',
 'AUS',
 'ENG',
 'IND']

In [98]:
player = []

for i in bs.find_all('td',class_='table-body__cell name'):
    player.append(i.text.replace('\n',''))
player

['Alyssa Healy',
 'Mithali Raj',
 'Tammy Beaumont',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Meg Lanning',
 'Beth Mooney',
 'Heather Knight',
 'Laura Wolvaardt',
 'Jhulan Goswami',
 'Megan Schutt',
 'Marizanne Kapp',
 'Sophie Ecclestone',
 'Shabnim Ismail',
 'Katherine Brunt',
 'Ayabonga Khaka',
 'Anya Shrubsole',
 'Kate Cross',
 'Natalie Sciver',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Jess Jonassen',
 'Katherine Brunt',
 'Jhulan Goswami']

In [99]:
rating = []

for i in bs.find_all('td',class_='table-body__cell u-text-right rating'):
    rating.append(i.text)
rating

['750',
 '738',
 '728',
 '717',
 '710',
 '699',
 '690',
 '674',
 '672',
 '727',
 '717',
 '715',
 '701',
 '688',
 '666',
 '643',
 '598',
 '589',
 '372',
 '365',
 '322',
 '299',
 '275',
 '274',
 '272',
 '272',
 '251']

In [100]:
print(len(team),len(player),len(rating))

27 27 27

In [101]:
import pandas as pd
df = pd.DataFrame({'TEAM':team,'PLAYER':player,'RATING':rating})

In [102]:
df.sort_values('RATING',ascending=False).head(10)

   TEAM             PLAYER RATING
0   AUS       Alyssa Healy    750
1   IND        Mithali Raj    738
2   ENG     Tammy Beaumont    728
9   IND     Jhulan Goswami    727
3    NZ  Amy Satterthwaite    717
10  AUS       Megan Schutt    717
11   SA     Marizanne Kapp    715
4   IND    Smriti Mandhana    710
12  ENG  Sophie Ecclestone    701
5   AUS        Meg Lanning    699

# QUESTION NUMBER 5(iii)

In [103]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'
import requests
from bs4 import BeautifulSoup
r = requests.get(url)
htmlcontent = r.content
soup = BeautifulSoup(htmlcontent,'html.parser')

In [104]:
p = []

for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    p.append(i.text.replace('\n',''))
p

['Natalie Sciver',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Jess Jonassen',
 'Katherine Brunt',
 'Jhulan Goswami',
 'Sophie Devine',
 'Hayley Matthews',
 'Heather Knight',
 'Amelia Kerr',
 'Nida Dar',
 'Shikha Pandey',
 'Rumana Ahmed',
 'Chamari Athapaththu',
 'Deandra Dottin',
 'Kate Cross']

In [105]:
t = []

for i in soup.find_all('span',class_='table-body__logo-text'):
    t.append(i.text)
t

['ENG',
 'AUS',
 'WI',
 'IND',
 'AUS',
 'SA',
 'AUS',
 'ENG',
 'IND',
 'NZ',
 'WI',
 'ENG',
 'NZ',
 'PAK',
 'IND',
 'BAN',
 'SL',
 'WI',
 'ENG']

In [106]:
r = []

for i in soup.find_all('td',class_='table-body__cell rating'):
    r.append(i.text)
r

['372',
 '365',
 '322',
 '299',
 '275',
 '274',
 '272',
 '272',
 '251',
 '248',
 '220',
 '195',
 '193',
 '176',
 '173',
 '168',
 '146',
 '142',
 '141']

In [107]:
import pandas as pd
df = pd.DataFrame({'PLAYER':p,'TEAM':t,'RATING':r})

In [108]:
df.sort_values('RATING',ascending=False).head(10)

             PLAYER TEAM RATING
0    Natalie Sciver  ENG    372
1      Ellyse Perry  AUS    365
2   Stafanie Taylor   WI    322
3     Deepti Sharma  IND    299
4  Ashleigh Gardner  AUS    275
5  Dane van Niekerk   SA    274
6     Jess Jonassen  AUS    272
7   Katherine Brunt  ENG    272
8    Jhulan Goswami  IND    251
9     Sophie Devine   NZ    248

# QUESTION NUMBER 6

In [109]:
import requests

In [110]:
url ='https://www.amazon.in/s?k=all+mobile+phone+within+20000&rh=n%3A1389401031&crid=147LGSGA7SGZS&sprefix=all+mobile+phone+within+20000%2Caps%2C399&ref=nb_sb_noss'

In [111]:
r = requests.get(url)

In [112]:
r

In [113]:
htmlcontent = r.content

In [114]:
from bs4 import BeautifulSoup

In [115]:
soup = BeautifulSoup(htmlcontent,'html.parser')

In [116]:
product_name = []

for i in soup.find_all('span' ,class_='a-size-medium a-color-base a-text-normal'):
    product_name.append(i.text.replace('/n',''))
    
product_name

['Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate',
 'OPPO A74 5G (Fluid Black,6GB RAM,128GB Storage) - 5G Android Smartphone | 5000 mAh Battery | 18W Fast Charge | 90Hz LCD Display',
 'OnePlus Nord CE 5G (Charcoal Ink, 8GB RAM, 128GB Storage)',
 'Redmi Note 10 Lite Interstellar Black 4GB RAM 128GB ROM | Alexa Built-in',
 'Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2.3GHz Mediatek Helio G35 Octa core Processor',
 'OnePlus Nord CE 5G (Blue Void, 8GB RAM, 128GB Storage)',
 'iQOO Z5 5G (Mystic Space, 8GB RAM, 128GB Storage) | Snapdragon 778G 5G Processor | 5000mAh Battery | 44W FlashCharge | Rs.1000 Coupon Discount',
 'realme narzo 50A (Oxygen Blue, 4GB RAM + 128GB Storage) - with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M12 (Black,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate',
 'realme narzo 30 (Racing Blue, 4GB RAM, 64GB Storage) - MediaTek Helio G95 processor I Full HD+ display with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M12 (White,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate',
 'realme narzo 30 (Racing Sliver, 6 GB RAM, 64 GB Storage) - MediaTek Helio G95 processor I Full HD+ display with No Cost EMI/Additional Exchange Offers',
 'Tecno Spark 7T(Jewel Blue, 4GB RAM, 64GB Storage) 6000 mAh Battery| 48 MP AI Dual Rear Camera',
 'realme narzo 50A (Oxygen Green, 4GB RAM + 128GB Storage) - with No Cost EMI/Additional Exchange Offers',
 'Redmi 9A (Nature Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery',
 'OPPO A74 5G (Fantastic Purple,6GB RAM,128GB Storage) - 5G Android Smartphone | 5000 mAh Battery | 18W Fast Charge | 90Hz LCD Display',
 'Samsung Galaxy M12 (Black,6GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime',
 'Lava A1 (Blue Silver)',
 'Redmi Note 10 Pro (Dark Night, 6GB RAM, 128GB Storage) -120hz Super Amoled Display|64MPwith 5mp Super Tele-Macro',
 "iQOO Z3 5G (Ace Black, 8GB RAM, 128GB Storage) | India's First SD 768G 5G Processor | 55W FlashCharge | Upto 9 Months No Cost EMI | 6 Months Free Screen Replacement",
 'Redmi 9 (Sporty Orange, 4GB RAM, 64GB Storage) | 2.3GHz Mediatek Helio G35 Octa core Processor',
 'realme narzo 50i (Carbon Black, 4GB RAM+64GB Storage) - with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M32 (Black, 4GB RAM, 64GB Storage) 6 Months Free Screen Replacement for Prime',
 'OPPO A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers']

In [117]:
price = []

for i in soup.find_all('span' ,class_='a-price-whole'):
    price.append(i.text)
    
price

['9,499',
 '15,990',
 '24,999',
 '14,999',
 '8,499',
 '24,999',
 '23,990',
 '12,499',
 '9,499',
 '13,499',
 '9,499',
 '14,499',
 '8,499',
 '12,499',
 '6,799',
 '15,990',
 '11,499',
 '999',
 '17,999',
 '18,990',
 '8,499',
 '8,999',
 '12,999',
 '11,490']

In [118]:
img = []

for i in soup.find_all('img' ,class_='s-image'):
    img.append(i['src'])
    
img

['https://m.media-amazon.com/images/I/71r69Y7BSeL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71poFSdDs5S._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71LRBr1aLNS._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71HDwaQmdyL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61iy2Ru9KdS._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71wevQRS5qL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71hgVYiuFXL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/7162Y5fPdkL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/719tm7l723L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71Y8rH2cJiL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71YjsF1aQjL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81aWyRY67SS._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/718CklLKXmL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71geVdy6-OS._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/7162Y5fPdkL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71nJCipMRiL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81S-XYJlzTL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61uIgwiP90S._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71djAn3nxoL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71Q3iSQAwAS._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61CnyJ-IbML._AC_UY218_.jpg']

In [119]:
rating = []

for i in soup.find_all('span', class_='a-icon-alt'):
    rating.append(i.text)
    
rating

['4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '3.9 out of 5 stars',
 '4.1 out of 5 stars',
 '4.1 out of 5 stars',
 '4.1 out of 5 stars',
 '3.7 out of 5 stars',
 '4.0 out of 5 stars',
 '3.9 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.0 out of 5 stars',
 '4.2 out of 5 stars',
 '4.3 out of 5 stars',
 '4.2 out of 5 stars',
 '3.5 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4 Stars & Up',
 '3 Stars & Up',
 '2 Stars & Up',
 '1 Star & Up']

In [120]:
import pandas as pd

# Question number 7

In [121]:
import pandas as pd
import numpy as np

In [122]:
import requests

In [123]:
url = 'https://www.nobroker.in/property/sale/bangalore/Electronic City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0 '

In [124]:
r = requests.get(url)

In [125]:
htmlcontent = r.content

In [126]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(htmlcontent,'html.parser')

In [127]:
house_title = []

for i in soup.find_all('span' ,itemprop='name'):
    house_title.append(i.text)
    
house_title

['Home ',
 'Bangalore',
 '4 BHK In Independent House  For Sale  In Hebbagodi',
 '4 BHK In Independent House  For Sale  In Hebbagodi',
 'Independent House, Bangalore - Hosur Road, Near  National Public School',
 '4 BHK Apartment  For Sale  In Nisarga Residency In Electronic City Phase Ii',
 '4 BHK Flat  For Sale  In Nisarga Residency In Electronic City Phase Ii',
 'Near Thali Resturant, Ananth Nagar, Electronic City Phase II, Bangalore, Karnataka, INDIA.',
 '4 BHK Flat  For Sale  In Sobha Silicon Oasis  In Hosa Road',
 '4 BHK Flat  For Sale  In Sobha Silicon Oasis  In Hosa Road',
 'Sobha Silicon Oasis Naganathapura, Rayasandra Bengaluru, Karnataka 560100 India',
 '4 BHK For Sale  In Daadys Garden In Electronic City',
 '4 BHK For Sale  In Daadys Garden In Electronic City',
 'Kammasandra Rd, Kammasandra, Electronic City, Bengaluru, Karnataka 560100, India',
 '4 BHK Flat  For Sale  In , Electronic City',
 '4 BHK Flat  For Sale  In , Electronic City',
 'Standalone Building, 16th Cross Road Neeladri Nagar, near by brand factory',
 '4 BHK Flat  For Sale  In Hosa Road, Parappana Agrahara',
 '4 BHK Flat  For Sale  In Hosa Road, Parappana Agrahara',
 'Standalone Building, 11th cross.anjanadri lay out',
 '4 BHK In Independent House  For Sale  In Electronic City',
 '4 BHK In Independent House  For Sale  In Electronic City',
 'Independent House, surya nagar face 1',
 '4 BHK In Independent House  For Sale  In Electronic City',
 '4 BHK In Independent House  For Sale  In Electronic City',
 'Independent House, Hosur Rd,Near Infosys Limited',
 '4 BHK Apartment  For Sale  In Gopalan Gardenia In Electronic City',
 '4 BHK Flat  For Sale  In Gopalan Gardenia In Electronic City',
 'Gopalan gardenia, Veerasandra Main Rd, Veer Sandra, Electronic City, Bengaluru, Karnataka 560100, India',
 '4 BHK For Sale  In Gpr Royale In Gpr Royale',
 '4 BHK For Sale  In Gpr Royale In Gpr Royale',
 '6th Cross',
 'Flats in  Vidyanagar  for sale',
 'Flats in  LHR Layout  for sale',
 'Flats in  Basapura  for sale',
 'Flats in  Hebbagodi  for sale',
 'Flats in  Electronic City  for sale',
 'Flats in  Chikkathoguru Village  for sale']

In [128]:
location = []

for i in soup.find_all('div' ,class_='nb__2CMjv'):
    location.append(i.text)
    
location

['Independent House, Bangalore - Hosur Road, Near  National Public School',
 'Nisarga Residency\xa0 Near Thali Resturant, Ananth Nagar, Electronic City Phase II, Bangalore, Karnataka, INDIA.',
 'Sobha Silicon Oasis Naganathapura, Rayasandra Bengaluru, Karnataka 560100 India',
 'Daadys Garden\xa0 Kammasandra Rd, Kammasandra, Electronic City, Bengaluru, Karnataka 560100, India',
 'Standalone Building, 16th Cross Road Neeladri Nagar, near by brand factory',
 'Standalone Building, 11th cross.anjanadri lay out',
 'Independent House, surya nagar face 1',
 'Independent House, Hosur Rd,Near Infosys Limited',
 'Gopalan Gardenia\xa0 Gopalan gardenia, Veerasandra Main Rd, Veer Sandra, Electronic City, Bengaluru, Karnataka 560100, India',
 '6th Cross']

In [129]:
area = []

for i in soup.find_all('div',class_='nb__3oNyC'):
    area.append(i.text)
    
area

['1,800 sqft',
 '2,000 sqft',
 '1,879 sqft',
 '2,600 sqft',
 '2,000 sqft',
 '3,000 sqft',
 '3,000 sqft',
 '1,200 sqft',
 '2,650 sqft',
 '3,100 sqft']

In [130]:
Emi = []

for i in soup.find_all('div',class_='font-semi-bold heading-6'):
    Emi.append(i.text)
    
Emi

['1,800 sqft',
 '₹77,374/Month',
 '₹1.35 Crores',
 '2,000 sqft',
 '₹45,851/Month',
 '₹80 Lacs',
 '1,879 sqft',
 '₹9,170/Month',
 '₹16 Lacs',
 '2,600 sqft',
 '₹85,971/Month',
 '₹1.5 Crores',
 '2,000 sqft',
 '₹39,546/Month',
 '₹69 Lacs',
 '3,000 sqft',
 '₹71,643/Month',
 '₹1.25 Crores',
 '3,000 sqft',
 '₹1.43 Lacs/Month',
 '₹2.5 Crores',
 '1,200 sqft',
 '₹42,985/Month',
 '₹75 Lacs',
 '2,650 sqft',
 '₹68,777/Month',
 '₹1.2 Crores',
 '3,100 sqft',
 '₹85,971/Month',
 '₹1.5 Crores']

In [131]:
Price = []

for i in soup.find_all('div',class_='heading-7'):
    Price.append(i.text)
    
Price

['Builtup',
 'Estimated EMI',
 '₹7,500 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking',
 'Builtup',
 'Estimated EMI',
 '₹4,000 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking',
 'Builtup',
 'Estimated EMI',
 '₹852 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking',
 'Builtup',
 'Estimated EMI',
 '₹5,769 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking',
 'Builtup',
 'Estimated EMI',
 '₹3,450 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking',
 'Builtup',
 'Estimated EMI',
 '₹4,167 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking',
 'Builtup',
 'Estimated EMI',
 '₹8,333 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking',
 'Builtup',
 'Estimated EMI',
 '₹6,250 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking',
 'Builtup',
 'Estimated EMI',
 '₹4,528 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking',
 'Builtup',
 'Estimated EMI',
 '₹4,839 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking']

# QUESTION NUMBER 8

In [132]:
import requests

In [133]:
from bs4 import BeautifulSoup

In [134]:
#!pip install html5lib

In [135]:
from urllib.request import urlopen

In [136]:
url= 'https://www.dineout.co.in/delhi-restaurants/buffet-special'

In [137]:
r = requests.get(url)

In [138]:
htmlcontent = r.content

In [139]:
soup = BeautifulSoup(htmlcontent,'html.parser')

In [140]:
restaurant = []

for i in soup.find_all('div' ,class_='restnt-info cursor'):
    restaurant.append(i.text)
    
restaurant

['Castle BarbequeConnaught Place, Central Delhi',
 'Jungle Jamboree3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Castle BarbequePacific Mall,Tagore Garden, West Delhi',
 'Cafe KnoshThe Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'The Barbeque CompanyGardens Galleria,Sector 38A, Noida',
 'India GrillHilton Garden Inn,Saket, South Delhi',
 'Delhi BarbequeTaurus Sarovar Portico,Mahipalpur, South Delhi',
 'The Monarch - Bar Be Que VillageIndirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'World CafeVibe by The Lalit Traveller,Sector 35, Faridabad',
 'Indian Grill RoomSuncity Business Tower,Golf Course Road, Gurgaon',
 'Mad 4 Bar B QueSector 29, Faridabad',
 'Barbeque 29NIT, Faridabad',
 'GlasshouseDoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [141]:
cusine = []

for i in soup.find_all('span' ,class_='double-line-ellipsis'):
    cusine.append(i.text)
    
cusine

['₹ 2,000 for 2 (approx) | Chinese, North Indian',
 '₹ 1,400 for 2 (approx) | North Indian, Barbecue, Italian, Asian',
 '₹ 2,000 for 2 (approx) | North Indian, Chinese',
 '₹ 3,000 for 2 (approx) | Multi-Cuisine, North Indian, Italian, Continental, Mediterranean',
 '₹ 1,800 for 2 (approx) | Barbecue, Chinese, Mughlai, North Indian',
 '₹ 2,400 for 2 (approx) | North Indian, Italian, Oriental ',
 '₹ 1,500 for 2 (approx) | Barbecue, North Indian',
 '₹ 1,600 for 2 (approx) | North Indian, Chinese, Fast Food',
 '₹ 900 for 2 (approx) | North Indian, Chinese, Continental',
 '₹ 2,200 for 2 (approx) | North Indian, Mughlai, Barbecue',
 '₹ 800 for 2 (approx) | North Indian, Mughlai',
 '₹ 1,500 for 2 (approx) | Barbecue, Chinese, North Indian',
 '₹ 3,400 for 2 (approx) | Multi-Cuisine, Asian, European, Italian, North Indian']

In [142]:
location = []

for i in soup.find_all('div' ,class_='restnt-loc ellipsis'):
    location.append(i.text)
    
location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Vibe by The Lalit Traveller,Sector 35, Faridabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon',
 'Sector 29, Faridabad',
 'NIT, Faridabad',
 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [143]:
rating = []

for i in soup.find_all('div' ,class_='restnt-rating rating-3'):
    rating.append(i.text)
    
rating

['3.4']

In [144]:
img = []

for i in soup.find_all('img' ,class_='no-img'):
    img.append(i['data-src'])
    
img

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/a/k/p59633-16046474755fa4fa33c0e92.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/v/p406-163401663361651d79326d0.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/q/d/p79307-16051787075fad15532bd7c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/y/p549-15143767525a438e30b3e19.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/e/p43488-15295778165b2b8158ceeef.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/f/p9875-16057921085fb6716cc44f8.jpg?tr=tr:n-medium']

In [145]:
import pandas as pd

In [146]:
print(len(restaurant),len(cusine),len(location),len(rating),len(img))

13 13 13 1 13

In [147]:
df = pd.DataFrame({'Restaurant':restaurant,'Cusine':cusine,'Location':location,'Img_Url':img})

In [148]:
df

,Restaurant,Cusine,Location,Img_Url
0,"Castle BarbequeConnaught Place, Central Delhi","₹ 2,000 for 2 (approx) | Chinese, North Indian","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","₹ 1,400 for 2 (approx) | North Indian, Barbecu...","3CS Mall,Lajpat Nagar - 3, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","₹ 2,000 for 2 (approx) | North Indian, Chinese","Pacific Mall,Tagore Garden, West Delhi",https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","₹ 3,000 for 2 (approx) | Multi-Cuisine, North ...","The Leela Ambience Convention Hotel,Shahdara, ...",https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","₹ 1,800 for 2 (approx) | Barbecue, Chinese, Mu...","Gardens Galleria,Sector 38A, Noida",https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","₹ 2,400 for 2 (approx) | North Indian, Italian...","Hilton Garden Inn,Saket, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","₹ 1,500 for 2 (approx) | Barbecue, North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"₹ 1,600 for 2 (approx) | North Indian, Chinese...","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",https://im1.dineout.co.in/images/uploads/resta...
8,"World CafeVibe by The Lalit Traveller,Sector 3...","₹ 900 for 2 (approx) | North Indian, Chinese, ...","Vibe by The Lalit Traveller,Sector 35, Faridabad",https://im1.dineout.co.in/images/uploads/resta...
9,"Indian Grill RoomSuncity Business Tower,Golf C...","₹ 2,200 for 2 (approx) | North Indian, Mughlai...","Suncity Business Tower,Golf Course Road, Gurgaon",https://im1.dineout.co.in/images/uploads/resta...
10,"Mad 4 Bar B QueSector 29, Faridabad","₹ 800 for 2 (approx) | North Indian, Mughlai","Sector 29, Faridabad",https://im1.dineout.co.in/images/uploads/resta...
11,"Barbeque 29NIT, Faridabad","₹ 1,500 for 2 (approx) | Barbecue, Chinese, No...","NIT, Faridabad",https://im1.dineout.co.in/images/uploads/resta...
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"₹ 3,400 for 2 (approx) | Multi-Cuisine, Asian,...","DoubleTree By Hilton Gurugram Baani Square,Sec...",https://im1.dineout.co.in/images/uploads/resta...

# QUESTION NUMBER 9

In [149]:
import requests

In [150]:
url = 'https://en.tutiempo.net/delhi.html?data=last-24-hours'

In [151]:
r = requests.get(url)

In [152]:
htmlcontent = r.content

In [153]:
from bs4 import BeautifulSoup

In [154]:
soup = BeautifulSoup(htmlcontent,'html.parser')

In [155]:
hour = []

for i in soup.find_all('td' ,class_='15:30'):
    hour.append(i.text)
    
hour

[]

In [156]:
temperature = []

for i in soup.find_all('td' ,class_='t Temp'):
    temperature.append(i.text)
    
temperature

['26°C',
 '26°C',
 '27°C',
 '28°C',
 '28°C',
 '27°C',
 '27°C',
 '27°C',
 '27°C',
 '26°C',
 '26°C',
 '24°C',
 '23°C',
 '23°C',
 '22°C',
 '21°C',
 '20°C',
 '19°C',
 '18°C',
 '18°C',
 '18°C',
 '17°C',
 '18°C',
 '18°C',
 '18°C',
 '18°C',
 '19°C',
 '19°C',
 '19°C',
 '19°C',
 '19°C',
 '19°C',
 '20°C',
 '20°C',
 '20°C',
 '21°C',
 '21°C',
 '21°C',
 '21°C',
 '22°C',
 '22°C',
 '22°C',
 '23°C',
 '24°C',
 '25°C',
 '25°C',
 '25°C',
 '25°C',
 '26°C']

In [157]:
wind = []

for i in soup.find_all('td' ,class_='wind'):
    wind.append(i.text)

wind

['7 km/h',
 '9 km/h',
 '11 km/h',
 '13 km/h',
 '11 km/h',
 '13 km/h',
 '17 km/h',
 '15 km/h',
 '15 km/h',
 '15 km/h',
 '11 km/h',
 '13 km/h',
 '9 km/h',
 '9 km/h',
 '7 km/h',
 '7 km/h',
 '7 km/h',
 '9 km/h',
 '9 km/h',
 '6 km/h',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 '6 km/h',
 '6 km/h',
 '6 km/h',
 '6 km/h',
 '6 km/h',
 '9 km/h']

In [158]:
weather = []

for i in soup.find_all('span' ,class_='thhip ico i0530 u304'):
    weather.append(i.text)
    
weather

[]

In [159]:
humidity = []

for i in soup.find_all('td' ,class_="hr"):
    humidity.append(i.text)
    
humidity

['39%',
 '42%',
 '39%',
 '40%',
 '42%',
 '42%',
 '48%',
 '48%',
 '51%',
 '54%',
 '54%',
 '61%',
 '69%',
 '69%',
 '78%',
 '78%',
 '83%',
 '83%',
 '88%',
 '88%',
 '88%',
 '94%',
 '88%',
 '88%',
 '88%',
 '88%',
 '88%',
 '88%',
 '88%',
 '88%',
 '88%',
 '88%',
 '83%',
 '83%',
 '83%',
 '73%',
 '73%',
 '73%',
 '73%',
 '64%',
 '64%',
 '64%',
 '61%',
 '54%',
 '47%',
 '47%',
 '47%',
 '44%',
 '42%']

In [160]:
pressure = []

for i in soup.find_all('td' ,class_='prob'):
    pressure.append(i.text)
    
pressure

['1014 hPa',
 '1014 hPa',
 '1014 hPa',
 '1014 hPa',
 '1014 hPa',
 '1015 hPa',
 '1015 hPa',
 '1016 hPa',
 '1016 hPa',
 '1017 hPa',
 '1017 hPa',
 '1018 hPa',
 '1018 hPa',
 '1019 hPa',
 '1019 hPa',
 '1018 hPa',
 '1018 hPa',
 '1018 hPa',
 '1018 hPa',
 '1017 hPa',
 '1017 hPa',
 '1016 hPa',
 '1016 hPa',
 '1016 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1014 hPa',
 '1014 hPa',
 '1014 hPa',
 '1013 hPa',
 '1013 hPa',
 '1013 hPa']

# QUESTION NUMBER 10

In [161]:
import requests

In [162]:
url = 'https://www.puredestinations.co.uk/top-10-famous-monuments-to-visit-in-india/'

In [163]:
r = requests.get(url)

In [164]:
htmlcontent = r.content

In [165]:
from bs4 import BeautifulSoup

In [166]:
bs = BeautifulSoup(htmlcontent,'html.parser')

In [167]:
data = bs.find_all('div', class_="blog--single__content column--3-4 u-spacing-third")

temp=[]

for i in data:

    for j in i.find_all('p'):

        t = j.text.replace('\n', '') # only extracting data

        temp.append(t)

name=[]

desc=[]


for i in range(1,30,3):

    name.append(temp[i])

for i in range(2,30,3):

    desc.append(temp[i])
    
    
temp = [] # scraping all image url's

for i in soup.find_all('img'):

    temp.append(i['src'])

img_url=[]

for i in range(6,26,2):

    img_url.append(temp[i])

In [168]:
name

['Taj Mahal, Agra',
 'Golden Temple (Harmandir Sahib), Amritsar ',
 'Meenakshi Temple, Madurai',
 'Mysore Palace, Mysore',
 'Gateway of India, Mumbai',
 'Red Fort, New Delhi',
 'Hawa Mahal, Jaipur',
 'Qutub Minar, New Delhi',
 'Sanchi Stupa, Sanchi',
 'Charminar, Hyderabad']

In [169]:
desc

['Enlisted in the Seven Wonders of the World, The Taj Mahal is one of the most beautiful and famous buildings located in the city of Agra. This white marble monument was built by a Mughal Emperor called Shahajahan in memory of his beloved wife. Due to its amazing architecture and the history behind it, this world heritage site has become very popular to visit by all travellers and romantics from all over the world.',
 'The holiest shrine and pilgrimage place located in Amritsar is The Golden Temple known as the Harmandir Sahib. This is the most famous and sacred Sikh Gurdwara in Punjab, India, adorned with rich history and gold gilded exterior. If you are interested in culture and history, be sure to visit this popular attraction in India.',
 'Meenakshi Temple is situated on the Southern banks of Vaigai River in the temple city Madurai. This temple is dedicated to Parvati and her consort, Shiva and is visited by most Hindu and Tamil devotees and architectural lovers throughout the world. It is believed that this shrine houses 33,000 sculptures in its 14 gopurams. It’s no doubt one place to visit if you are impressed with art and cultural history.',
 'The Mysore Palace is a famous historical monument in the city of Mysore in Karnataka. Commonly described as the City of Palaces, this is the most famous tourist attraction in India after the Taj Mahal. It is a sight not be missed with its spacious halls, lovely art paintings and Indo-Saracenic style architecture. Best time to visit is at night due to the astonishing illuminated lights covering the whole monument.',
 'Even though Mumbai is famous for its Bollywood actors and movies, the most famous attraction in Mumbai is The Gateway of India. It is a popular gathering spot for locals, travellers, street vendors and photographers and is known as the Taj Mahal of Mumbai. The majestic monument was built to commemorate the visit of King George V and Queen Mary to Bombay. With so much fun and excitement this place is not to be missed with family or on your tour of India.',
 'Declared as the UNESCO’s World Heritage Site, Red Fort is located in the centre of beautiful Delhi. If you love learning about history and culture then this famous historic monument is a must see place to visit. Built by the Mughal Emperor, Shah Jahan in 1648, and housing a number of museums, its walls are built of red sandstone. The best time to visit is on Independence Day where the Prime Minister of India hoists the national flag at the Red Fort. End the day by heading to an Indian restaurant and enjoy the varieties of wonderful cuisines.',
 'Explore a blend of beauty and Rajasthan culture, the Hawa Mahal also known as Palace of Winds is situated in the capital of Rajasthan, Jaipur. Built from red and pink sandstones by the Maharaja Sawi Pratap Singh in 1799, this unique five storey structure is one of the most prominent tourist attractions in the Jaipur city.',
 'Discover one of the tallest towers in the world and the second tallest Minar of India standing elegantly in the Capital city, New Delhi. Standing at 72.5 metres and consisting of around 379 stairs, this famous monument represents the rich architecture of India. As it is a UNESCO World Heritage Site made of red sandstone and decorated with Arabic and Brahmi inscriptions, travellers from around the world come to view this most famous tower in India.',
 'The beautiful and massive dome, Sanchi Stupa also known as the Great Stupa is a world renowned Buddhist monument in Sanchi, India. It was constructed by Emperor Ashoka, and is one of the oldest stone structures in the heart of India. Experience the Indian culture by visiting these major attractions in Sanchi including a number of Buddhist Stupas, monasteries and temples.',
 'No visit to Hyderabad should be complete without visiting the most famous and majestic monument known as the Charminar. This magnificent and striking mosque constructed in 1591 has four minarets and is the most recognisable symbol in the city of Hyderabad.']

In [170]:
temp

['https://v5i.tutiempo.net/wd/WNW.png',
 'https://v5i.tutiempo.net/wd/NW.png',
 'https://v5i.tutiempo.net/wd/NW.png',
 'https://v5i.tutiempo.net/wd/NW.png',
 'https://v5i.tutiempo.net/wd/SSW.png',
 'https://v5i.tutiempo.net/wd/NW.png',
 'https://v5i.tutiempo.net/wd/NW.png',
 'https://v5i.tutiempo.net/wd/NW.png',
 'https://v5i.tutiempo.net/wd/W.png',
 'https://v5i.tutiempo.net/wd/WNW.png',
 'https://v5i.tutiempo.net/wd/NW.png',
 'https://v5i.tutiempo.net/wd/WNW.png',
 'https://v5i.tutiempo.net/wd/W.png',
 'https://v5i.tutiempo.net/wd/WNW.png',
 'https://v5i.tutiempo.net/wd/W.png',
 'https://v5i.tutiempo.net/wd/SSW.png',
 'https://v5i.tutiempo.net/wd/SSW.png',
 'https://v5i.tutiempo.net/wd/SSW.png',
 'https://v5i.tutiempo.net/wd/SSW.png',
 'https://v5i.tutiempo.net/wd/SSW.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/SSW.png',
 'https://v5i.tutiempo.net/wd/W.png',
 'https://v5i.tutiempo.net/wd/W.png',
 'https://v5i.tutiempo.net/wd/SSW.png',
 'https://v5i.tutiempo.net/wd/SSW.png',
 'https://v5i.tutiempo.net/wd/NW.png',
 'https://oc.tutiempo.net/i/free/gratis-en.png',
 'https://oc.tutiempo.net/i/fases-lunares.png',
 'https://oc.tutiempo.net/i/logo45.png']

In [171]:
img_url

['https://v5i.tutiempo.net/wd/NW.png',
 'https://v5i.tutiempo.net/wd/W.png',
 'https://v5i.tutiempo.net/wd/NW.png',
 'https://v5i.tutiempo.net/wd/W.png',
 'https://v5i.tutiempo.net/wd/W.png',
 'https://v5i.tutiempo.net/wd/SSW.png',
 'https://v5i.tutiempo.net/wd/SSW.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png',
 'https://v5i.tutiempo.net/wd/C.png']

In [172]:
print(len(name),len(desc),len(img_url))

10 10 10

In [173]:
import pandas as pd
#creating dataframe
data = list(zip(name,desc,img_url))

In [174]:
df = pd.DataFrame(data,columns=['name','desc','img_url'])

In [175]:
df.head(10)

,name,desc,img_url
0,"Taj Mahal, Agra","Enlisted in the Seven Wonders of the World, Th...",https://v5i.tutiempo.net/wd/NW.png
1,"Golden Temple (Harmandir Sahib), Amritsar",The holiest shrine and pilgrimage place locate...,https://v5i.tutiempo.net/wd/W.png
2,"Meenakshi Temple, Madurai",Meenakshi Temple is situated on the Southern b...,https://v5i.tutiempo.net/wd/NW.png
3,"Mysore Palace, Mysore",The Mysore Palace is a famous historical monum...,https://v5i.tutiempo.net/wd/W.png
4,"Gateway of India, Mumbai",Even though Mumbai is famous for its Bollywood...,https://v5i.tutiempo.net/wd/W.png
5,"Red Fort, New Delhi","Declared as the UNESCO’s World Heritage Site, ...",https://v5i.tutiempo.net/wd/SSW.png
6,"Hawa Mahal, Jaipur",Explore a blend of beauty and Rajasthan cultur...,https://v5i.tutiempo.net/wd/SSW.png
7,"Qutub Minar, New Delhi",Discover one of the tallest towers in the worl...,https://v5i.tutiempo.net/wd/C.png
8,"Sanchi Stupa, Sanchi","The beautiful and massive dome, Sanchi Stupa a...",https://v5i.tutiempo.net/wd/C.png
9,"Charminar, Hyderabad",No visit to Hyderabad should be complete witho...,https://v5i.tutiempo.net/wd/C.png

In [176]:
import requests

In [177]:
url = 'https://www.amazon.in/s?k=all+mobile+phone+within+20000&rh=n%3A1389401031&crid=147LGSGA7SGZS&sprefix=all+mobile+phone+within+20000%2Caps%2C399&ref=nb_sb_noss'

In [178]:
r = requests.get(url)

In [179]:
r

In [180]:
htmlcontent = r.content

In [181]:
from bs4 import BeautifulSoup

In [182]:
bs = BeautifulSoup(htmlcontent,'html.parser')

In [183]:
data = bs.find_all('div', class_="s-desktop-width-max s-desktop-content s-opposite-dir sg-row")

temp=[]

for i in data:

    for j in i.find_all('p'):

        t = j.text.replace('\n', '') # only extracting data

        temp.append(t)

product_name=[]

Price=[]

#rating =[]


for i in range(1,30,3):

    product_name.append(temp[i])

for i in range(2,30,3):

    Price.append(temp[i])
    
    
#for i in range(3,30,3):

    #rating.append(temp[i])
    
    
    
temp = [] # scraping all image url's

for i in soup.find_all('img'):

    temp.append(i['src'])

img_url=[]

for i in range(6,26,2):

    img_url.append(temp[i])

IndexError: list index out of range